[2019-08-14 02:35] benjamimgois opened #1 "Resolution scalling"
Hi Vinicius,

Firstly congratulations for fpakman / Bauh ! It's a great and very important tool. I just want to report that the interface isn't scalling very well on 4K screens. The image speaks for it self.

(Screenshot attached )

![Captura de tela de 2019-08-13 23-29-27](https://user-images.githubusercontent.com/7688496/62990538-c4b6f180-be22-11e9-838e-6722983bd1d3.png)

[2019-08-14 14:36] vinifmor commented on #1
Hi @benjamimgois, thank you. I will have a look here. What's your desktop environment ? I know in Gnome there are some missing icons when you install via **AUR**.  It seems to be a QT / PyQT missing dependency. Please, try to install manually using a **virtualenv** to see if the issue persists. In the project **README** there is a **Manual Installation** session.

[2019-09-08 17:18] Ads20000 opened #3 "Invalid script entry point"
Got this error for `pip3 install bauh` on Ubuntu 19.04, any ideas?

[code]

[code]

[2019-09-08 22:07] vinifmor commented on #3
Hello @Ads20000, I haven't got this before but I will test here for Ubuntu 19 and get back to you. In the meantime, try the manual installation via **virtualenv**. The process is described in the project **README** file. If you have any doubt in how to do it, post it here, please.

[2019-09-09 15:46] vinifmor commented on #3
I have just installed a fresh Ubuntu 19.04 in a virtual machine and could install the application without problems using `sudo pip3 install bauh`. The **pip** version is the same as yours (**18.1-5**) and the **python3** version is **3.7.3-1**. What's your **python3** version ? Just a thought: it would be better to install the application in a **virtualenv** to not mess up with your system librari

[2019-09-20 19:50] SinisterBrain opened #4 "Progress meter accuracy"
Posted in the thread on the Manjaro forums about this.
https://forum.manjaro.org/t/bauh-formerly-known-as-fpakman-a-gui-for-flatpak-and-snap-management/96180/105?u=sinister

I have very lousy internet.  With the size of flatpak platform downloads it would be great to have a download meter that can give some kind of accurate time and progress of the download.

Thank you!

[2019-09-20 19:53] SinisterBrain opened #5 "Windows resizing issues."
Posted to the Manjaro forums.
https://forum.manjaro.org/t/bauh-formerly-known-as-fpakman-a-gui-for-flatpak-and-snap-management/96180/105?u=sinister

Perhaps it should respect the users resize?

Also, this might be harder to guess but I think the default size is quite small.  Especially for the info it's presenting.  Perhaps some a bit wider?

Thank you for your work and patience.  :)

[2019-09-22 03:26] vinifmor commented on #4
@SinisterBrain, thank you for the suggestion. I agree with you that a progress bar would be great... I will see how can I accomplish this task and plan to the next releases.

[2019-09-22 03:33] vinifmor commented on #5
@SinisterBrain, it's a good suggestion. I will see if I can add this behavior for the next releases soon.

[2019-09-26 19:34] #3 closed

[2019-10-02 21:20] KlausDevWalker opened #9 "Tray Icon Choose and Official Repo Searching And Updater"
I use [Kalu] (I dumped Pamac), but it seems like it's abandoned. It has a nice Arch tray icon. Now I'm testing Bauh and it's great! Could you add an option of we to choose the tray icon? Or maybe have more options of them?

Kalu watch for official repo and AUR updates. Could official repo searching and updating be added in the future? That way I would switch to Bauh definitely.

Anyway, thanks for

[2019-10-03 13:44] vinifmor commented on #9
Hello @KlausDevWalker, have you tried the tray mode ? (just add the parameter **--tray=1** or export the env var **BAUH_TRAY=1**). If you are installing the app through **AUR**, it already creates two desktop entries and a quick script to the tray **bauh-tray** ( bauh --tray=1).

![desktop_entries](https://user-images.githubusercontent.com/4312414/66130729-92c33f80-e5c8-11e9-85e7-b195ced41040.png)

[2019-10-03 14:02] vinifmor commented on #9
Now I got it what you mean. You want to change the tray icon by another one, right ? I will put this feature in the backlog. Cheers.

[2019-10-03 17:07] KlausDevWalker commented on #9
You got it! :) Thanks for your reply. Now I'm more excited to keep using your app. Thanks again! :D

[2019-10-09 11:28] D33M0N opened #10 "app list for install isn't updating? (0.5.2-1)"
or does it require manual intervention from dev?

for example: Skype, in the startup says version 8.51.0.72 is available.
when I try to install, it fails cause it can't find version 8.50.0.38.
And in the AUR there is available already skyforlinux-stable-bin version 8.53.0.85-1.

anyway the install failed with this:
[code]

[2019-10-10 15:44] vinifmor commented on #10
Hello @D33M0N , what seems to be happening here is that the Skype team published this update to Flathub with a bad source URL. If you try to retrieve this file (https://repo.skype.com/deb/pool/main/s/skypeforlinux/skypeforlinux_8.50.0.38_amd64.deb) defined in this Flatpak, you will get an error.

It is not a **bauh** issue :)

[2019-10-18 15:07] vinifmor commented on #9
@KlausDevWalker , I have just released **bauh 0.7** that makes possible to change the tray icon via environment variables. Just export these two specifying the icons paths:

**BAUH_TRAY_DEFAULT_ICON_PATH=/mypath/myicon
BAUH_TRAY_UPDATES_ICON_PATH=/mypath/myicon**

Cheers

[2019-10-18 15:07] #10 closed

[2019-10-19 01:38] KlausDevWalker commented on #9
Really nice! You're the best :D

[2019-10-19 01:40] DarkRB opened #15 "Install local appimage [Feature]"
Sometimes we may run across cases that we need a certain app that is not in the AppImagehub repository for download (https://appimage.github.io/apps/), but just lists there.

Several examples like the app "TRuDI" ( i dont even know the use of the said app, but is a good example), that will not be shown in a search in Bauh, of course.

So i find the app there, and go to the git page of said app, do

[2019-10-19 12:26] erikdubois opened #16 "bauh.desktop content"
Can you change the line to your icon?

Put the logo in /usr/share/icons/hicolor and let linux do the rest.
Give it the name bauh like this

[code]
No need for png or svg extension.

Icon themes will take care of that.

Same applies to bauh_tray.desktop.

[2019-10-19 13:52] vinifmor commented on #16
Hi, @erikdubois. Sure. In the next minor release I will change the desktop entry. Thank you for your feedback.

[2019-10-19 13:54] vinifmor commented on #15
Hi @DarkRB . It is a good suggestion. I will add it to the backlog. Thank your for your feedback.

[2019-10-19 15:29] erikdubois commented on #16
No problem - I am there to help

Op za 19 okt. 2019 om 15:52 schreef Vinícius Moreira <
notifications@github.com>:

[2019-10-25 17:09] bogdancovaciu commented on #16
Hello,

Since this issue was brought up, maybe there is a way to have a custom design for the icon.
Talking with Manjaro team about the `pamac` icon and some others, but since `bauh` is box, maybe the one presented here fits better:
https://github.com/bogdancovaciu/custom-manjaro-icons
Preview:
![Alt Text](https://raw.githubusercontent.com/bogdancovaciu/custom-manjaro-icons/master/image.png)

[2019-10-25 17:22] erikdubois commented on #16
great I will make a box like icon for sardi and surfn icons

Just us let us know what names I need to use for future edition

[2019-10-25 17:43] jayvdb opened #18 "Upload wheels to PyPI"
https://pypi.org/project/bauh/#files does not include wheels yet.

[2019-10-26 00:28] vinifmor commented on #18
Thank you for the hint. I have just released **0.7.1** with its wheel. Now the installation via Pip is much faster.

[2019-10-26 00:40] vinifmor commented on #16
The icons are pretty nice for a Manjaro package. Nice work. I can provide more environment variables for custom icons. Currently there are these two below ( they allow to customize the tray ):

**BAUH_TRAY_DEFAULT_ICON_PATH=/myicon/path**
**BAUH_TRAY_UPDATES_ICON_PATH**/myicon/path**

[2019-10-26 00:41] vinifmor commented on #16
By the way, I have just published **0.7.1** with the new desktop entries.

[2019-10-27 03:43] jayvdb commented on #18
Lovely.

[2019-10-27 03:43] #18 closed

[2019-10-27 03:44] jayvdb opened #19 "FileNotFoundError: [Errno 2] No such file or directory: 'snap': 'snap' Aborted (core dumped)"
If `snap` is not available, the error is not very user-friendly.
[code]
[code]

[2019-10-27 04:51] jayvdb opened #20 "snapd seems not to be installed or enabled"
When I have installed snapd, but not enabled it, I see warning

It would be helpful to distinguish between installed vs enabled, which is trivial in the common case of looking for `snapd` or the systemctl .service.  Also 'started' is probably a better term than 'enabled', as enabled in systemctl means the service is part of the service list, but it can be stopped while enabled, and it will be star

[2019-10-27 09:16] jayvdb opened #22 "No Flatpak remotes set. It will not be possible to search for Flatpak apps."
The snapd warning tells the user that they can disable snap in the Application types configuration.  The warning for flatpak doesnt say that flatpak can also be disabled in the Application types config.

One possible way to streamline this user experience is to show the Application types window if any type isnt working correctly, and include the warning text on that window.

[2019-10-27 09:55] jayvdb opened #23 "Snap apps disappear when changing styles"
When I switch from Style: Fusion to Style: gtk2 or Windows, the snaps would disappear after the restart.
Switching again to Style: Fusion and the snap apps appear again.

It feels like something is wrong with the restart logic.

My process tree would look like
[code]

Sometimes only two of the snaps would appear in the list.

When the snaps disappear, the gtk2 and Windows style windows did not inc

[2019-10-27 09:56] jayvdb opened #24 "All apps disappear after Refresh"
When I hit Refresh, all of the apps disappear.

[2019-10-27 10:13] jayvdb opened #25 "Info window UI"
The app info window feels like it needs some loving.
Each row has a Show button, which uses a large chunk of the window width.
The Show button appear even when the entire text is visible, so there is nothing more to show.
The user can scroll through the textboxes, so maybe the Show button should be dropped.

The value of each row is shown in a UI element which looks like an editable textbox.
It se

[2019-10-27 10:16] jayvdb commented on #24
This also happens after installing an app.
While the app is being installed, all apps not yet installed are shown.
Once the app is installed, it is shown in the list and the other apps not yet installed disappear.

[2019-10-27 10:19] jayvdb opened #26 "/snap/bin was not found in your $PATH"
After installing a snap app, I get the following warning in the console.

That probably should have been done by some part of the snap install, however it is something that maybe bauh can help users do.  https://pypi.org/project/userpath/ is a nice tool for adding items to the user scripts to add entries to `PATH`.

[2019-10-27 10:24] jayvdb opened #27 "Application types window Exit button"
Throughout the app there are no Close or Exit window buttons, except on the Application types window, and it uses "Exit" instead of the more usual "Close".  The button doesnt exit the app, which is what "Exit" buttons usually do.

[2019-10-27 10:32] jayvdb opened #28 "slack has License: unset"
The slack snap app shows "License: unset", which may mean it is literally text "unset" (not likely), but probably means there is no stated license, and the lack of a license probably means Proprietary.  A blank value is probably better.

[2019-10-27 10:36] jayvdb commented on #24
After installing an app, and then restarting, the "available apps" list is shown, and then Refresh shows the installed apps with a "Apps" checkbox which does nothing.

[2019-10-28 13:52] vinifmor commented on #24
Hi @jayvdb, the app is currently coded to work that way. I will explain these behaviors below:

* During bauh first refresh, if you have no applications installed (runtimes and libraries do not count), it will show some suggestions. It will not do that since the second refresh. This behavior has not been changed since version **0.5.X**. Otherwise you will not be able to manage your runtimes and li

[2019-10-28 13:53] vinifmor commented on #28
Hi @jayvdb , it a good suggestion. I will add to the backlog.

[2019-10-28 13:56] vinifmor commented on #27
Hi @jayvdb , you are right. I will change the label to "Close" in the next releases.

[2019-10-28 13:59] vinifmor commented on #26
Hi @jayvdb, I have never got this warning. What distro are you currently using ? I will try to mimic the behavior and see how bauh can suggest a solution for the user.

[2019-10-28 14:07] jayvdb commented on #26
I am using openSUSE.

[2019-10-28 14:08] vinifmor commented on #25
Hi @jayvdb, I believe the show button is useful for large fields, because the info window could not handle several text areas in the same space. I tried scrollable text areas in the early versions, but had some issues in some desktop environments. I can test them again with the newest Qt versions. In the next feature version I will focus on the UI and see what can be improved. I'm actually thinkin

[2019-10-28 14:10] vinifmor commented on #23
I believe this happened because the Ubuntu API probably blocked the query requests. It happens sometimes, but I will try to reproduce here.

[2019-10-28 14:11] vinifmor commented on #22
It's a good suggestions. I will consider what you wrote here, and see the best way to add this behavior to the tool.

[2019-10-28 14:21] vinifmor commented on #20
The thing is: this behavior is different depending on the Linux distro. I'm currenlty using Arch, and  what should be done in the Arch case is to enable the service:
`sudo systemctl enable --now snapd.socket`

But I agree with you. I will try to improve this warnings in the next releases.

[2019-10-29 15:18] vinifmor commented on #19
I have already fixed that issue in the staging branch. I will try to publish another minor until the weekend.

[2019-11-01 15:05] vinifmor commented on #28
If the license is set as **unset**, bauh will not display anymore in **0.7.2** ( just released ).

[2019-11-01 15:06] vinifmor commented on #27
Changed to "Close" in **0.7.2**

[2019-11-01 15:07] vinifmor commented on #24
If you change the application types in **0.7.2** and still have no apps installed, bauh will show the suggestions again.

[2019-11-01 15:08] vinifmor commented on #22
In **0.7.2**, bauh will let the user know that Flatpak can be disabled as well.

[2019-11-01 15:08] vinifmor commented on #20
In **0.7.2** the message is changed by **started or enabled**.

[2019-11-01 15:09] vinifmor commented on #19
Fixed in **0.7.2**.

[2019-11-02 00:41] CJ1169 opened #30 "Minor: Creates overriding makepkg.conf in user directory"
See this link for more information: https://forum.manjaro.org/t/makepkg-ignoring-pkgext-in-makepkg-conf/109338/8
TL;DR Does bauh _have_ to create its own makepkg.conf in the user directory?

[2019-11-02 19:22] vinifmor commented on #30
If you have enabled AUR , it will create an optimized version of makepkg in your home folder. This behavior can be disabled via the environment variables **BAUH_ARCH_OPTIMIZE=0**. This is described in the project README file in the AUR (arch) gem section.

[2019-11-04 18:01] CJ1169 commented on #30
Good to hear the behavior can be modified. However, is it best to have that as the default behavior? I believe it's possible to call makepkg using a custom makepkg.conf that won't be picked up regularly. yay, the aur helper does this, I believe (although not by default).
i.e. maybe in a ~/.config/bauh directory, a makepkg.conf file could be used and then makepkg directed to use that instead.

Also

[2019-11-04 21:24] awsdert opened #31 "Text too tiny"
I'm on manjaro x64 cinnamon and bauh doesn't load the system defaults or least doesn't honor them, everything else in my system loads fine so I think it's just bauh that's misbehaving, there is a ~/.cinnamon folder so there should also be docs relating to that to help you quick fix it

[2019-11-06 21:17] vinifmor commented on #31
Hello @awsdert, bauh has it's own font settings int the current version. I'm sketching up a new interface that will fix this resolution issues.

[2019-11-06 21:31] vinifmor commented on #30
I added this behavior with new Linux users in mind. Non-tech people that does not know anything about compilation and probably won't like some AUR applications taking too long to install. bauh just make a copy of your **/etc/makepkg.conf** in your home folder and add these two lines ( if you haven't defined a value for them ):

**MAKEFLAGS="-j$(nproc)"
COMPRESSXZ=(xz -c -z - --threads=0)**

In the

[2019-11-06 22:31] CJ1169 commented on #30
Makes sense!
As for passing a custom config to makepkg, I believe
exec:
[code]
config:
[code]
Does it in Go. This was taken from [yay](https://github.com/Jguer/yay)'s source code.
TL;DR: passing --config "/etc/makepkg.conf" should do it?
Goodluck! :)

[2019-11-06 22:31] #30 closed

[2019-11-09 00:13] awsdert commented on #31
It's one thing to have internal settings available but to not by default honor the system settings is just bad UI design.

[2019-11-25 11:25] #16 closed

[2019-11-25 20:46] #28 closed

[2019-11-25 20:46] #27 closed

[2019-11-25 20:47] #24 closed

[2019-11-25 20:48] #20 closed

[2019-11-25 20:49] #19 closed

[2019-11-27 13:58] vinifmor commented on #30
@CJ1169, sorry for the late response and thank you for your help. I will change the behavior this week and release **0.7.3** with it.

[2019-11-27 14:36] vinifmor commented on #30
Already done. If you want to have a look in the code changes -> https://github.com/vinifmor/bauh/commit/374c6971969ea44b4a48495a1ec6eecdf660c75d

In the end of the day I will be publishing it to **AUR** in **bauh-staging** package.

[2019-11-27 15:34] kamishiro opened #35 "How To Remove"
I installed bauh following the manual instructions and all seemed to work, it opened and ran.
After I closed it, it won't open again "no such file or directory".
I would just like to remove it, however that too seems to have a major issue.
$ pip3 uninstall bauh
Gives me several lines of exception errors
[bauh-error.txt](https://github.com/vinifmor/bauh/files/3897532/bauh-error.txt)

[2019-11-27 16:32] vinifmor commented on #35
What distro are you currently using ? it seems the error is related to the Python configuration in your system.

If you did the manual procedure, to uninstall bauh just remove the  **env** folder created. I will update the README file in the next minor version that should come out this week.

[2019-11-27 18:29] CJ1169 commented on #30
Good to hear! Lovely work

[2019-11-28 07:57] jtagcat opened #36 "Support for Red-Hat based systems"
Make it the universal package manager then ;)

[2019-11-28 14:17] vinifmor commented on #36
Hi @jtagcat, do you mean a bauh package for installing in Red-hat based systems or to handle such format ?

[2019-11-29 16:31] jtagcat commented on #36
A package to install via yum/dnf.
Compatability with packages from yum/dnf sources would also be commended!

[2019-11-29 19:18] vinifmor commented on #36
I will add to the backlog

[2019-11-29 20:18] #23 closed

[2019-12-09 18:19] #35 closed

[2019-12-09 18:20] #25 closed

[2019-12-10 18:54] mikart143 opened #39 "RPM package"
Hello !
I am huge fun of your project. It will be very nice to see RPM packages for redhat base system and also opensuse.

[2019-12-10 21:26] vinifmor commented on #39
Hello. It is nice to hear that bauh has been useful for you. Do you mean a rpm package to install the application ?

[2019-12-10 22:03] mikart143 commented on #39
Yes to install bauh on system. For me is must have and for other people I think too.

[2019-12-10 22:32] vinifmor commented on #39
I'm currently studying the best approach to distribute bauh to all Linux distros. I will see how difficult is to distribute it in RPM format. A Flatpak version would work for you ?

[2019-12-11 13:16] mikart143 commented on #39
I think it is good :smile:

[2019-12-19 20:58] rol216 opened #40 "Bauh python 3.8"
I have an issue with bauh after an update of Manjaro, that has updated Python from 3.7 to 3.8.
When I do an upgrade in bauh to update an AUR package, I have this message

[code]

I don't know what to do…

[2019-12-19 22:13] vinifmor commented on #40
What is your bauh version ?

[2019-12-19 22:16] rol216 commented on #40
bauh 0.7.4
installed with manjaro package bauh 0.7.4-1

[2019-12-19 22:19] vinifmor commented on #40
Try reinstalling it and let me know if the error still happens. When the Python version was upgraded to 3.8, I had to reinstall it. Let me know if the issue persists.

[2019-12-19 22:26] rol216 commented on #40
same errors after I have reinstall it

[2019-12-20 13:35] vinifmor commented on #40
I could reproduce the issue and published a fix release to **bauh-staging** (AUR) for now. Could you install it and let me know if the issue has gone ? Thank you for your bug report.

[2019-12-20 14:08] rol216 commented on #40
That works, issue has gone !
Thank you very much

[2019-12-20 14:14] vinifmor commented on #40
Great. I will do some more testing here, and in the end of the day I will publish the official release

[2019-12-20 21:42] #40 closed

[2019-12-27 00:47] gobonja opened #44 "32-bit AppImage gets installed on 64-bit system"
If application has i386 and x86_64 versions, bauh downloads i386 which resutls in error when running application on 64-bit system.
Tested on Manjaro Linux KDE

![1](https://user-images.githubusercontent.com/26535797/71494827-83136a00-284a-11ea-8276-36305ec688f9.png)
![2](https://user-images.githubusercontent.com/26535797/71494829-83ac0080-284a-11ea-92bb-0fd755d11dd9.png)
![3](https://user-images.g

[2019-12-27 13:55] vinifmor commented on #44
Hi @gobonja, I will have a look here.

By the way, a preset OneNote web application is currently provided. If you want to give it a shot, enable **Web** in the **Application settings** and search for **onenote**.
![onenote](https://user-images.githubusercontent.com/4312414/71519685-56397400-2897-11ea-9183-ea4932bb61cf.png)

[2019-12-27 17:40] gobonja commented on #44
Web version works great. Thanks!
However this issue occures on every app that has 32-bit and 64-bit version.

Other than that, great job with bauh!

[2019-12-30 22:33] mothsART opened #45 "Nix support"
Nix is a awesome package manager who works on many linux distributions ! Bring a GUI like **bauh** would be a nice experience.

[2019-12-31 08:42] antoninchadima opened #46 "AppImage on Debian Stretch"
I'm unable to get AppImage support on Debian

I get this error and the appimage does not download even if it exists on the given adress:
Traceback (most recent call last):

[code]

[2019-12-31 23:51] antoninchadima commented on #46
It is something around pathlib not being a string.
But i'm not good in python...

[2020-01-02 19:41] vinifmor commented on #46
Hi @antoninchadima , thank you for reporting the issue. I will try to reproduce here.

[2020-01-02 19:56] vinifmor commented on #46
It seems to be a Python3.5 issue. I pushed a possible fix on the **staging** branch. Could you give a feedback if it works now ?

[2020-01-03 23:31] vinifmor commented on #44
@gobonja, I updated the database script, and for now 64 bits will have preference over 32bits. It means you will be able to install both of these AppImages you reported. The support for both architectures will come later.

[2020-01-04 05:09] antoninchadima commented on #46
Thank you very much. It is working now.
It was really a Python 3.5 issue (Debian 9 Stretch [with backports] on Chrome OS...)

I though even before your answer, that it has to do something with the Python version (the difference between Arch and Debian 9)...

[2020-01-04 05:09] #46 closed

[2020-01-04 05:52] antoninchadima opened #47 "Install, manage & run Flatpak applications on standard user accounts"
The best way to run bauh with AppImage is without sudo from a standard user account.
This way you install your AppImage applications locally and you can run them from bauh as a standard user (recommended).
Everything for Appimage runs now in bauh OK - there is no problem.

I wish that Flatpak in bauh would behave the same way.
At this moment you need sudo to install Flatpak (maybe you could run ba

[2020-01-04 06:17] antoninchadima commented on #47
I have checked the code. For user Flatpak installtation you should also:
`flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo --user`

[2020-01-04 15:54] gobonja commented on #44
@vinifmor I also tested it some other apps that have both architecture and it's working as you described.
Thanks for the quick fix.

[2020-01-05 20:44] vinifmor commented on #47
Hi @antoninchadima . It is a good idea. I'm going to test this **--user** parameter and think the best approach for bauh.

[2020-01-06 17:09] vinifmor commented on #45
Hi, @mothsART. I'm not familiar with Nix, but I will have a look here. Thanks for the suggestion.

[2020-01-06 19:29] mothsART commented on #45
If you're familiar with Debian or Ubuntu, this link could be a good entry point https://nixos.wiki/wiki/Cheatsheet

[2020-01-07 08:37] antoninchadima commented on #47
I'm using myself a modified version of bauh with the --user parameter for flatpak and i didn't find any issue yet.

[2020-01-07 11:56] vinifmor commented on #47
Cool. I've been thinking about 3 approaches:

1. A dialog asking to the user if the app should be installed only for himself or for all users (system)
2. A config file where you could set the installation type: user or system
3. A mix of above

What do you think ?

[2020-01-09 14:32] leoneii opened #48 "Error when installing Web app"
Hey, when you try to install any Web app error in the console:

[code]

I tried both vesiyu of AUR, and set via pik install.
System - Archlinux

Thanks! For the rest, a splendid and necessary tool, do not throw its development!

[2020-01-09 14:55] vinifmor commented on #48
Hi @leoneii. I will have a look here. What's your system's default language ? ( paste the result of the following command here, please -> python -c "import locale; print(locale.getdefaultlocale());" )

[2020-01-09 15:01] leoneii commented on #48
Thanks again,
( 'Ru_RU', 'UTF-8')

[2020-01-09 15:23] vinifmor commented on #48
Already fixed in the staging branch. In the end of the day I will publish a RC to **bauh-staging** in **AUR**.

[2020-01-09 15:24] leoneii commented on #48
OK, thanks!

[2020-01-09 15:24] #48 closed

[2020-01-09 15:28] vinifmor commented on #48
No worries. After testing the RC, let me know if you have any problem ( just comment here or reopen the issue )

[2020-01-09 19:20] frpenguin opened #49 "Support Protected Content in Web Apps (Widevine)"
If I create a standalone web app for netflix.com or primevideo.com, for example, video does not play due to the lack of widevine. In my system (Arch) the package chromium-widevine is installed from the AUR and works fine with qutebrowser. Is there a posibility of doing the same for web apps created by bauh ?

[2020-01-09 19:40] vinifmor commented on #49
Hi @frpenguin. I've seen this issue as well. It would be cool to have these apps supported by bauh. If I'm not mistaken, nativefier currently does not support widevine. But I will try to figure out a way to do that.

[2020-01-09 19:48] frpenguin commented on #49
Hi @vinifmor. Thanks for the quick reply. Maybe through electron: https://electronjs.org/docs/tutorial/testing-widevine-cdm

[2020-01-09 22:34] vinifmor commented on #48
Already available in **AUR** as **bauh-staging** (0.8.1.RC-3)

[2020-01-10 19:13] vinifmor commented on #49
Thanks for the docs, I will have a look here.

[2020-01-13 05:48] antoninchadima commented on #47
great work is done with pre 0.8.1
I like the way it is implemented

[2020-01-14 15:17] vinifmor commented on #47
Thank you @antoninchadima . The official release is out. Let me know if you have any trouble.

[2020-01-14 15:20] vinifmor commented on #1
Hi @benjamimgois . Version **0.8.1** is out fixing some HDPI and scaling issues. Could you give me a feedback if this release fixes your issues ? ( I'm currently with no HDPI device to test )

[2020-01-15 04:21] benjamimgois commented on #1
Hi @vinifmor it definitely looks better than before, thanks for fixing hidpi ! I only see 2 things that still needs some tweaking:
- The font size on search field (too small).
- Fonte size on the combobox to select theme (also too small)
- Size of the icons and buttons to install / uninstall applications

Here is a screenshot.

![Captura de tela de 2020-01-15 01-15-06](https://user-images.githubus

[2020-01-15 12:16] vinifmor commented on #1
Well, it definitely doesn't look as it should. Portuguese speaker ?

[2020-01-15 18:17] benjamimgois commented on #1
Sim, sou brasileiro.

[2020-01-15 22:25] vinifmor commented on #1
Maravilha. Então, um outro usuário chegou a abrir um PullRequest com algumas correções. Parece que no ambiente dele ficou ok. Vou deixar o link para você dar uma olhada: https://github.com/vinifmor/bauh/pull/43.

Mas continuando... vamos tentar investigar o que pode ser. Hoje qual é o seu ambiente desktop e a versão ? Qual é a resolução do seu dispositivo ? Eu vou fazer uns testes aqui para ver se

[2020-01-16 02:40] benjamimgois commented on #1
Vinícius, dei uma verificada e parece que o problema está na escala de resolução do Gnome. Eu utilizo a versao 3.34.2, o desktop está em 3840x2160 com escala de resolução em 200%

![image](https://user-images.githubusercontent.com/7688496/72488412-ad27ce80-37ef-11ea-951e-0668b4103363.png)

Quando reduzi a escala para 100% parece que a interface normalizou.

![scale 100](https://user-images.githubu

[2020-01-16 02:56] benjamimgois commented on #1
Fiz mais alguns testes e o problema parece ser com aplicações QT em geral dentro do gnome. Veja como os ícones do avidemux (qt5) também apresentam problemas.

escala 100%
![avidemux 100](https://user-images.githubusercontent.com/7688496/72489349-9040ca80-37f2-11ea-9f38-94f851bc201c.png)

escala 200%
![avidemux 200](https://user-images.githubusercontent.com/7688496/72489367-99ca3280-37f2-11ea-8e09-

[2020-01-16 13:21] vinifmor commented on #1
Hum... interessante. Pode ser um bug do Gnome, alguma configuração ou alguma biblioteca do Qt que não está instalada.

Se você inicia o bauh pelo terminal a 200%, ele exibe alguma mensagem de erro ? O scaling no KDE está funcionando bem a 1080p.

[2020-01-16 13:31] vinifmor commented on #1
Encontrei esse artigo falando sobre esse problema -> https://unix.stackexchange.com/questions/433385/scaling-hidpi-issue-for-qt5-applications-under-gnome

Será que essa variável de ambiente resolve o problema ? Testa para mim no terminal, por favor:
`QT_AUTO_SCREEN_SCALE_FACTOR=1 bauh`

Se funcionar, eu posso procurar uma maneira de inclui-la no código a nível de aplicação.

[2020-01-18 01:28] benjamimgois commented on #1
Desculpe a demora meu amigo, sua solução foi certeira. Funcionou perfeitamente !

![image](https://user-images.githubusercontent.com/7688496/72656229-b2fceb80-3978-11ea-9867-48e8738d2bba.png)

[2020-01-19 14:55] vinifmor commented on #1
Tranquilo... que bom que funcionou. Então é um problema Gnome / QT. Eu vou ser se tem algum impacto negativo incluir essa variável direto no código. Se tiver, vou alertar no README do projeto para o pessoal que utiliza Gnome deixar essa variável disponível no sistema

[2020-01-19 16:02] vinifmor commented on #22
bauh **0.8.1** always adds the Flathub repo at the user level, so the warning was removed

[2020-01-19 16:02] #22 closed

[2020-01-19 16:06] vinifmor commented on #26
This issue was already fixed on the latest releases. https://github.com/vinifmor/bauh/blob/master/bauh/gems/snap/snap.py#L16

The "print_error=False" skips this warning...

[2020-01-19 16:06] #26 closed

[2020-01-20 20:49] antoninchadima commented on #47
everything is OK

[2020-01-20 20:49] #47 closed

[2020-01-21 20:00] siduxdevil opened #52 "No flatpak.yml"
I have this issue on two systems, both Debian Unstable based. I am using bauh 0.8.1. Flatpak works fine, I see my installed flatpaks and can handle them in any way supported. The issue is that I don't have a flatpak.yml under ~/.config/bauh. There is config.yml, appimage.yml and web.yml.

Installed version of Flatpak is  1.6.0-1, Python is installed as  2.7.17 and 3.7.6. Bauh was installed per `su

[2020-01-21 21:04] vinifmor commented on #52
I could reproduce here. The current version just creates the flatpak.yml when a new Flatpak app is installed through bauh. Could you confirm this ?

I can add a new behavior for the next minor forcing bauh to create the file during it's boot.

[2020-01-21 21:36] siduxdevil commented on #52
I can confirm that flatpak.yml is created, even when trying to install a flatpak. Trying, because through bauh that is as far as I get.

Trying to install as user I get: `Error: open(O_TMPFILE): Permission denied`, for system I get:` Warning: Failed to create a mountpoint for revokefs-fuse: Can't create temporary directory Error: Can't create temporary directory`.

[2020-01-21 21:40] vinifmor commented on #52
Try to install at the user level. When bauh asks if you want to install for all users, choose "No". I believe the latest versions of Flatpak require root privileges to proper install at the system level. This issue already happened to me, but not always.

[2020-01-21 21:58] siduxdevil commented on #52
I did as user and system. See above post.

[2020-01-21 22:11] vinifmor commented on #52
My bad. I read fast and didn't notice. Well, it seems to be a system configuration issue. Are you able to install via command line without issues ? I've just launched a Linux Mint 18.3 VM on Virtual Box and had no issue installing an application at the user level. I'm going to make a little research about what can be happening on your system. Are you using a pure Debian system ?

[2020-01-21 22:14] vinifmor commented on #52
Two topics related to user level:
https://github.com/flatpak/flatpak/issues/1507
https://github.com/flatpak/flatpak/issues/2808

[2020-01-21 22:20] siduxdevil commented on #52
Siduction, based on Debian Unstable. I am one of the maintainers of siduction, it is 98% pure Debian, with our custom kernel.

[2020-01-22 09:23] siduxdevil commented on #52
Problem fixed. Found the solution in the above mentioned[ flatpak issue](https://github.com/flatpak/flatpak/issues/2808). Setting permissions for /var/tmp to 1777 lets me install flatpaks through bauh in the user-context. Thanks for your time!

[2020-01-22 09:23] #52 closed

[2020-01-22 11:39] vinifmor commented on #52
No worries. If you face more issues, let me know.

[2020-01-23 09:18] siduxdevil opened #53 "Alter access to the host environment for flatpaks and maybe others in bauh?"
Would it be possible to alter [access to the host environment](https://docs.flatpak.org/en/latest/sandbox-permissions.html) for flatpaks and maybe others in bauh?

[2020-01-23 12:19] vinifmor commented on #53
Do you mean to apply the needed permissions through bauh ?

[2020-01-23 13:39] siduxdevil commented on #53
Yes, grant or take away.

[2020-01-24 22:59] Lennox84 commented on #15
I'd like to +1 this as I've just gotten started using bauh and absolutely love it.
In my case I really want bauh to manage DigiKam and Bitwarden.
Bitwarden connector exists on Appimagehub but for some reason the Bitwarden client doesn't?? Really confused as to why they wouldn't release the actual application on hub, but it is the main download from their site.

I was surprised to not see DigiKam l

[2020-01-27 12:16] vinifmor commented on #15
Hello @Lennox84, it is nice to see that you like and care for this project. This feature is on the backlog and should be implemented in the next months. The only drawback is that bauh will not be able to check for updates related to locally installed apps since it will not have access to their release catalog.

[2020-01-27 14:33] talentlessguy commented on #5
I have issues too, the right arrow is not clickable so I can't reach the button

![image](https://user-images.githubusercontent.com/35937217/73182980-14684b80-412b-11ea-9bb0-6c8042c54bc4.png)

[2020-01-28 15:25] vinifmor commented on #5
@talentlessguy, what's your distro, python version and pyqt5 version ?

[2020-01-28 16:32] talentlessguy commented on #5
@vinifmor

[code]

[2020-01-28 18:13] vinifmor commented on #5
@talentlessguy , same here... This is arrow is just a Qt indicator saying "there is something hidden". But it was supposed to always displays all buttons. I will try to reproduce and fix here. While is not fixed, try to resize the whole panel to the right or maximize it. Thank you for your report.

[2020-01-30 20:25] vinifmor commented on #5
@talentlessguy , I've just published a possible fix on **bauh-staging** (0.8.2.-RC-2). Could you give me a feedback if it fixes your issues ?

[2020-01-30 20:32] vinifmor commented on #1
@benjamimgois, eu adicionei uma nova configuração em que é possível ativar essa variável pelo próprio bauh. Você consegue acessar a opção na nova tela de configurações que vai entrar na 0.8.2. Eu publiquei uma RC com essa alterações no **bauh-staging** (AUR).
![scaling_fix](https://user-images.githubusercontent.com/4312414/73487728-5d680c00-4386-11ea-9a0b-d59d7d489dba.png)

[2020-01-30 23:05] vdun opened #54 "Feature: CLI"

[2020-01-31 11:28] benjamimgois commented on #1
Muito bom @vinifmor ! Funcionou perfeitamente.

[2020-01-31 13:14] talentlessguy commented on #5
@vinifmor same thing

![image](https://user-images.githubusercontent.com/35937217/73541980-c3b36400-4444-11ea-8222-658ac4c4150d.png)

bauh: 0.8.2

[2020-01-31 13:38] vinifmor commented on #5
@talentlessguy , could you add a full picture of bauh with this issue ? I can have a view of what component can be messing up the layout.

[2020-01-31 15:01] vinifmor commented on #5
it is strange this issue still happens on your installation. I added a rule that doesn't allow toolbar buttons to be hidden:
![resize](https://user-images.githubusercontent.com/4312414/73549395-4aeee080-4421-11ea-9cab-8711e1fc1810.gif)

Did you restart bauh after installing 0.8.2.RC-2 ?

[2020-01-31 17:13] talentlessguy commented on #5
@vinifmor oh that was my tiling script minimizing the window. Now it works fine tbf would be better that there was a scrollbar instead of preventing a window to become smaller

[2020-01-31 19:26] vinifmor commented on #5
@talentlessguy, there will be a UI redesign for the future feature releases. For now I'm fixing bugs. Good to hear that you problem was solved.

[2020-01-31 21:01] vinifmor commented on #1
Publiquei a release oficial no AUR ( 0.8.2 ). Vou fechar a issue. Obrigado por ter reportado o problema.

[2020-01-31 21:01] #1 closed

[2020-01-31 21:03] vinifmor commented on #9
@KlausDevWalker , now it is possible to define the tray icons via the interface. Have a look at the new settings management panel of 0.8.2:
![icons_chooser](https://user-images.githubusercontent.com/4312414/73574204-dbdeaf80-4453-11ea-9338-f8246681dff0.png)

[2020-01-31 21:07] vinifmor commented on #53
Sorry for the late reply. Do you mean the permissions to allow Flatpak apps installation ? ( the issue you had when installing Flatpaks through bauh )

[2020-01-31 21:07] vinifmor commented on #54
All operations ? Search, install, uninstall, ...

[2020-01-31 21:20] siduxdevil commented on #53
No, I mean the permissions for flatpaks to interact with the filesystem and other apps through portals etc.

[2020-01-31 21:23] vinifmor commented on #53
Alright. I actually tried to port bauh as a Flatpak but couldn't get these permissions to work ( that's why it has no Flatpak release yet ). I will have a deeper look to see what's possible to do. Any help is welcome.

[2020-02-01 12:08] KlausDevWalker commented on #9
A very useful addition to bauh! Thank you very much :)

[2020-02-11 14:11] siduxdevil commented on #53
Just found Flatseal [1]. Maybe the basics can be incorporated from there!?
[1] https://github.com/tchx84/flatseal

[2020-02-11 15:03] vinifmor commented on #53
Looks promising. I'm going to test here. Thanks.

[2020-02-12 10:48] perrsona1234 opened #56 "Problems when installing WebApps."
Hello.
When installing a Web-based application I'm encountering some issues.
I have tried to install two WebApps: Telegram & GMail.

Here are the logs:
Telegram:
https://pastebin.com/WdetT67P & https://pastebin.com/G7mf1R1X
GMail:
https://pastebin.com/0m2Tw4eY & https://pastebin.com/0FG62HBg

The OS is openSUSE Tumbleweed. I have followed the installation guide & turned it into a script for future

[2020-02-12 13:40] vinifmor commented on #56
Hello, it seems you are running bauh with the root user. Theoretically it should not be a problem, but I'm going to test here to see if it happens to on my system as well.

Could you give me a feedback if it works for a non-root user ?

[2020-02-12 14:54] vinifmor commented on #56
I could reproduce a similar issue. First, I did a fresh bauh install and launched it within the root account. I was able to install Gmail and Instagram without issues. Then I started bauh as the default user. Tried to install Web applications with no success.

The issue was: as I firstly started bauh as the root user, it created the build folder on the temp dir as root. When the default user tries

[2020-02-12 15:30] vinifmor commented on #56
I published some related fixes to the staging branch. Could you test it and give me feedback if it works now ?

Before trying, execute the reset command:
[code]

To install the staging branch:
[code]

[2020-02-12 22:16] perrsona1234 commented on #56
So, I did reset bauh, installed the staging branch and tried installing Telegram again. It's not working.
Logs: https://pastebin.com/4nh27Mf6 & https://pastebin.com/y2y172sX

[2020-02-13 13:22] vinifmor commented on #56
Ok... I'm going to install your distro and see if I can find out what's happening. In the meantime, try to install nativefier on your machine and set bauh to work with it.
You will have to install NodeJS / Npm first.  The just type on the terminal:
`
sudo npm install nativefier -g
`
To enable bauh to work with the system nativefier, got to **Settings** > **Web** and change **Nativefier** to **Syst

[2020-02-13 18:37] perrsona1234 commented on #56
So...
I did install `npm` with `sudo zypper install --no-recommends npm` & then run `sudo npm install nativefier -g` to install `nativefier`. After running `bauh` as root, changing the `nativefier` to the system one and trying to install Gmail & Twitter - it worked. Both have been installed successfully & are running fine.

[2020-02-13 19:03] perrsona1234 commented on #56
To summarize everything for now...

AS A NORMAL USER:
Installing & running `flatpaks` is working
Installing & running `.appimages` is working
Installing & running `web apps` is working

AS A ROOT USER:
Installing & running `flatpaks` is working
Installing & running `.appimages` is working
Installing & running `web apps` is working after installing `bauh` from staging branch, installing `nativefier

[2020-02-13 19:43] vinifmor commented on #56
@perrsona1234, you don't need to use the staging version to work with the system nativefier. It should work with 0.8.2. But I've already published today a new release ( 0.8.3 ) with the yesterday's staging code.

Related to snaps, I'm not sure if you can run them as the root user. But I'm going to confirm this. Let the issue open for now until I test you scenario and see if it can be fixed.

[2020-02-14 07:34] perrsona1234 commented on #56
It was my mistake that `snaps` were not working. The repo I got `snapd` from was outdated. After following these instructions (https://snapcraft.io/install/mindustry/opensuse) & installing Mindustry with `sudo snap install mindustry` as a test - after executing `snap run mindustry` it worked fine.

But there is something broken in `bauh`. Installing snaps as a NORMAL & ROOT users works fine, but I

[2020-02-14 13:09] vinifmor commented on #56
I will have a look here... please, open a separate issue for Snaps and describe which packages have the gray launch button instead of the green one.

[2020-02-14 21:38] perrsona1234 commented on #56
OK, I will close this issue & open a new one.

[2020-02-14 21:38] #56 closed

[2020-02-14 21:50] perrsona1234 opened #58 "Problems with running snaps"
Via CLI:
With `sudo snap install` `snaps` are being installed properly & are working fine.
Via Bauh:
I can install & remove `snaps`, but the button to open them is grayed out for both NORMAL & ROOT users. It's grayed out for all `snaps`.

Honestly, I have no idea what kind of logs would be useful here.
![Zrzut ekranu z 2020-02-14 22-47-20](https://user-images.githubusercontent.com/20409397/7457008

[2020-02-15 20:53] ranfdev opened #59 "Use native authentication dialog"
Instead of showing a simple qt dialog asking for the password, consider using the command `pkexec` to run the installation command as root. `pkexec` will show a native window asking the user password and will then execute the command passed as the argument. For example `pkexec bash` should open a window asking for the password and then should run bash.
Thank you for your work in any case.

[2020-02-16 16:51] canihavesomecoffee opened #60 "fre:ac AppImage installs aarch64 instead of x86_64"
I'm attempting to install the fre:ac application using the GUI of bauh.

fre:ac is listed as an AppImage, but when I try to install, it retrieves the aarch64 version of the AppImage from GitHub instead of the x86_64. Of course this fails to execute on my system before the installation finishes.

Relevant log which I retrieved from `/tmp/bauh/web/install/fre:ac/`:

[code]

The error that pops up in

[2020-02-17 13:13] vinifmor commented on #58
@perrsona1234 , thank you for reporting the issue. No additional log is required. I'm going to have a look at the applications with the gray launch button and analyse why bauh is not allowing to launch them.

[2020-02-17 13:15] vinifmor commented on #60
Hello @canihavesomecoffee , it is probably a bug with the script responsible to generate the bauh's AppImage database. I'm going to have a look here and fix ASAP. Thank you for reporting this issue.

[2020-02-17 13:17] vinifmor commented on #59
Hello @ranfdev , thank you for the tip. I'm going to add this suggestion to the backlog.

[2020-02-17 15:15] vinifmor commented on #60
@canihavesomecoffee , already fixed the script. Re-install **fre:ac** and let me know if it is working now.

[2020-02-17 15:23] vinifmor commented on #58
@perrsona1234 , I've just tested here and the button is enabled (green). Did you install drawing via bauh or using the command line ?
![drawing_snap](https://user-images.githubusercontent.com/4312414/74666473-50b62700-5180-11ea-8284-f80fe2fc79f3.png)

[2020-02-17 15:47] vinifmor commented on #58
Does this directory (**/var/lib/snapd/snap**) exist on your system ? Or this one -> **/snap** ?

[2020-02-17 16:38] canihavesomecoffee commented on #60
@vinifmor It is fixed, thank you for the very quick reply! :tada:

[2020-02-17 16:51] vinifmor commented on #60
No worries. I'm going to close this issue. Cheers.

[2020-02-17 16:51] #60 closed

[2020-02-17 17:52] vinifmor commented on #58
@perrsona1234 I've just published a possible fix on the **staging** branch. Could you give me a feedback if it fixes your issue ?

[2020-02-19 16:16] perrsona1234 commented on #58
So, the folders I have are:
`/snap`
`/var/snap`
`/var/lib/snapd`
`~/snap`

I was installing `snaps` both with `bauh` as NORMAL & ROOT users & `sudo snap install` command. All of them are working, when being run via `snap run` command. Also, all of them are inaccessible, when I try to run them with `bauh`, both as NORMAL & ROOT users.

[2020-02-19 16:24] perrsona1234 commented on #58
So, I updated `bauh` to latest staging branch.
Did the usual:
[code]

[2020-02-19 16:31] vinifmor commented on #58
Thank you for reporting this. I've just published a fix to the staging again. Could you give me a feedback if it works now ?

[2020-02-19 17:46] perrsona1234 commented on #58
So, I updated `bauh` again and now everything works. It still shows some error, but I am able to run `snaps` from `bauh`, both as a NORMAL & ROOT user.
![Zrzut ekranu z 2020-02-19 18-40-40](https://user-images.githubusercontent.com/20409397/74859750-6f165100-533f-11ea-8d72-539298650b0a.png)

[2020-02-19 17:55] vinifmor commented on #58
Great. I believe this error is happening because of the files generated by the old version. Try to remove the following directories and let me know if the error still shows up:
- **/tmp/bauh**
- **/tmp/bauh_root**

[2020-02-20 16:23] perrsona1234 commented on #58
After deleting the two mentioned directiories, everything looks fine now.
`bauh` starts properly without any errors, both as a NORMAL & ROOT users.

For both, NORMAL & ROOT users:
`flatpaks` are installing & working
`snaps` are installing & working
`appimages` are installing & working
`webapps` are installing & working

Do You need any extra info?
Thank You!

[2020-02-20 18:26] vinifmor commented on #58
Great. It's fine. Let this issue open for now. I'm going to publish **0.8.4** with these fixes soon and close it.

[2020-02-21 13:34] #58 closed

[2020-02-21 17:09] docop commented on #39
An RPM file can be quite good, as to get support for Centos, with the rpm you can get access to all Centos machine and run much more app vs installer too many 'container'.  Thanks in advance. Is it still in the plan ?

[2020-02-21 18:13] vinifmor commented on #39
@docop it is on the backlog. But currently there are other prioritized features. If someone helps on this issue, I can put it on top.

[2020-02-26 09:38] Lennox84 opened #69 "Bauh closes when settings button is clicked"
Wanted to try giving the web apps a go so I went to open the settings and when I click it bauh closes. This has happened on this release and the previous. I thought I'd wait for an update to see if that solved it but it did not.

I'm on 0.8.3-1.
Linux T450 5.4.18-1-MANJARO #1 SMP PREEMPT Thu Feb 6 11:41:30 UTC 2020 x86_64 GNU/Linux

Happy to run/do any debugging needed, but you'll have to explain

[2020-02-26 21:54] vinifmor commented on #69
Hello @Lennox84 , try the latest stable version ( **0.8.4** ) already available in AUR. If the issue still persists, please open bauh through a terminal ( ```bauh``` ) and paste here any trace left so we can investigate what's going on.

[2020-02-29 14:40] lfom opened #74 "WhatsApp web app (bauh) only works after fresh installation"
First of all, thanks a lot for this incredible tool. I was able to install it on Pop!_OS 19.10 after some trials (it was missing some deb packages, as well as some other for Python that needed to be installed using pip3 instead of pip), and it is great! I didn't want to use flatpacks on Pop because they would not be integrated properly with the user interface (automatic .desktop file creation, GUI

[2020-03-01 20:55] vinifmor commented on #74
Hello @lfom , it's nice to hear that bauh has been useful for you. I've just tested here and could reproduce the same behavior you described. Bauh already provides a custom fix for WhatsApp when you install it, but it seems this fix is not working anymore. I'm going to study a new way to handle this issue and publish it as soon as possible.

Regards

[2020-03-01 22:57] vinifmor commented on #74
@lfom I fixed here. Please, try the **staging** branch and let me know if works on your end now. To install the staging branch type the following on a terminal:
[code]
If you just want a quick try type the following commands within the cloned bauh folder:
[code]
If you want to install globally on your system forget the last steps and just type the following commands within the cloned bauh folder:

[2020-03-02 00:43] lfom commented on #74
@vinifmor Yes, it seems that it is working fine now. Although the window displays the error for a fraction of a second, it auto-refreshes and loads the app correctly. Thanks!

PS: I upgraded to staging (0.8.5) in a slightly different way as using pip/pip3 fails for me while using venv... What I did (may help someone else, that installed directly using pip3):

[code]

After that, I get:

PS2: if yo

[2020-03-02 00:43] #74 closed

[2020-03-02 14:38] vinifmor commented on #74
Great. I'm going to publish the offical 0.8.5 in a few days.

About the issue you had installing, perhaps you have to use the virtualenv command. When you install directly with pip3, it will be using the global environment. You can try this inside the bauh folder after cloning:
[code]

[2020-03-02 16:27] lfom commented on #74
@vinifmor Neither `virtualenv` nor `python3-virtualenv` are pre-installed on Pop!_OS 19.10, so I guess I will leave it as it is now to avoid problems. The `python3 -m venv` command works, but installation fails with an error message about pyqt5, which is installed (simply using pip3 install works).

Anyway, when new official updates are available do I need to do anything special or simply `pip3 in

[2020-03-02 16:50] vinifmor commented on #74
Ok. To ensure the latest release will be installed, type: `pip3 install bauh --upgrade`

[2020-03-03 15:16] lfom opened #75 "Feature suggestion: Manually install AppImages"
bauh does a great job managing non-builtin distribution packages, but an option to manually install them would be great. For example, AppImageLauncher conflicts with bauh regarding appimages, so it must be uninstalled for bauh to work properly, but then there is no way to easily integrate an appimage that isn't available in one of the bauh sources, or maybe install a different version.

An solutio

[2020-03-03 18:13] vinifmor commented on #75
Hello, @lfom . It is a nice suggestion and there is already an issue for this feature. I'm going to close this new and associated with the former.

Regards.

[2020-03-03 18:13] #75 closed

[2020-03-03 18:13] vinifmor commented on #15
[#75](https://github.com/vinifmor/bauh/issues/75)

[2020-03-03 18:14] vinifmor commented on #75
https://github.com/vinifmor/bauh/issues/15

[2020-03-03 19:28] masteor commented on #69
i have the same issue - my trace:
qt5ct: using qt5ct plugin
QPainter::begin: Paint device returned engine == 0, type: 2
Segmentation fault (core dumped)

[2020-03-03 19:28] lfom commented on #15
Cool, maybe make them as "bauh" or another category instead of AppImage so it is clear that is should be updated manually?

By the way, how bauh updates AppImages: it does a full replace or only the deltas, like [AppImageUpdate](https://github.com/AppImage/AppImageUpdate) does?

Kudos

[2020-03-03 20:01] vinifmor commented on #69
@masteor , perhaps there is a package not installed on your system. Try the manual installation and see if the error happens as well.
[code]

[2020-03-03 20:34] vinifmor commented on #15
@lfom , it is a good a idea to create a "Manual Update" category for them. Also their names could display something like "manually installed" or "imported. e.g: rpcs3 ( manually installed ) or postman ( imported )

In relation to how the updates are handled: bauh does the full file replacement, but does not remove saved data / configurations

[2020-03-03 20:39] vinifmor commented on #15
Guys, this feature should be available in bauh **0.9.X**.

[2020-03-05 08:37] meson11 opened #76 "Web Apps separate Icons for Launcher and Instance in Gnome"
As you can see in the screenshot, web apps make, unlike all other apps, two separate icons. One for the launcher, and one for the instance. They don't use the same Icon too. The launcher uses the customized icon, the instance that one which is grabbed from the website.

![Bildschirmfoto von 2020-03-05 09-26-35](https://user-images.githubusercontent.com/22944649/75962589-558b1280-5ec4-11ea-95bd-5a2

[2020-03-05 14:27] vinifmor commented on #76
Hello @meson11 , please provide your distro, gnome, python and bauh versions. Also the URLs of these sites you are having trouble with.

[2020-03-05 15:13] perrsona1234 opened #77 "Suggestion: add support for OBS, COPR and maybe PPAs?"
Hello.

Since You have already started supporting AUR, then maybe it would be nice to also include OBS, COPR and maybe PPAs?

Open Build Service (OBS - https://en.opensuse.org/Portal:Build_Service) is an openSUSE thing to build and manage software. It's main site is here: (https://build.opensuse.org/), but there is also a web-based frontend for users here: (https://software.opensuse.org/explore) -

[2020-03-05 15:25] meson11 commented on #76
Manjaro
Gnome 3.34.4
python 3.8.1-4
bauh 0.8.3-1

urls:
https://web.chapster.com
https://app.campai.com
tried also the recommended WhatsApp web App. Also two Icons.

[2020-03-06 16:03] vinifmor commented on #76
@meson11 , the issue is fixed on the staging branch. Install **bauh-staging** ( 0.8.5.RC-2 ) from **AUR**, an re-install these WebApps. Let me know if the issue if fixed on you end.

[2020-03-06 20:01] Lennox84 commented on #69
I haven't installed the AUR version yet and Manjaro is still only on
0.8.3-1,
I'll install the AUR if I really need to but happy to wait if it doesn't
take too long for Manjaro to get updated.

just to add to the above/below. I ran an Strace and the bottom section of
results was: (I'm comfortable in using Linux but don't know how to debug or
detect when something break so wanted to give this a try

[2020-03-06 20:10] vinifmor commented on #69
@Lennox84 ,

What desktop environment are you currently using ? Also paste here the result of the following command: `python -c "import locale; print(locale.getdefaultlocale())"`

[2020-03-06 22:01] Lennox84 commented on #69
Hi Vin,

I'm running KDE - plasmashell 5.17.5

Output: ('en_AU', 'UTF-8')

Cheers

On Sat, 7 Mar 2020 at 07:10, Vinícius Moreira <notifications@github.com>
wrote:

[2020-03-06 22:38] vinifmor commented on #69
Hum... I use KDE at home, and had no issue so far. I'm going to try some scenarios to see if I can reproduce this issue.

Cheers

[2020-03-06 22:42] vinifmor commented on #15
I finished to develop the file installation action. Some pictures:

![custom_actions](https://user-images.githubusercontent.com/4312414/76128165-54e89e00-5fe2-11ea-9021-7c054bef83f2.png)
![appimage_install](https://user-images.githubusercontent.com/4312414/76128172-587c2500-5fe2-11ea-8561-cb0632bafdea.png)
![appimage_listed](https://user-images.githubusercontent.com/4312414/76128178-5c0fac00-5fe2-

[2020-03-07 07:49] Lennox84 commented on #15
WooHoo!!

Looking good. Thanks for all your hard work Vin 💪

On Sat, 7 Mar 2020 at 09:43, Vinícius Moreira <notifications@github.com>
wrote:

[2020-03-07 14:50] vinifmor commented on #69
@Lennox84 , couldn't reproduce on my KDE end, but I added some error handling related to icons loading that might be related. Please, install**bauh-staging** from AUR ( 0.8.5.RC-3 ) and let me know if the issue is fixed. Consider launching bauh through the command line ( `bauh` ) to catch any error message.

[2020-03-11 14:55] #76 closed

[2020-04-12 20:36] szarik001 opened #84 "Bauh not starting"
When I try to start bauh I get this error:
`Traceback (most recent call last):
  File "/usr/bin/bauh", line 11, in <module>
    load_entry_point('bauh==0.8.5', 'console_scripts', 'bauh')()
  File "/usr/lib/python3.8/site-packages/bauh/app.py", line 46, in main
    i18n_key, current_i18n = translation.get_locale_keys(local_config['locale'])
  File "/usr/lib/python3.8/site-packages/bauh/view/util/tr

[2020-04-12 20:39] szarik001 commented on #84
I got it working by removing `or current_locale.startswith(name + '_')` on line 64 of /usr/lib/python3.8/site-packages/bauh/view/util/translation.py"

[2020-04-12 20:45] szarik001 commented on #84
Never mind. Bauh starts but cant install anything.

[2020-04-13 13:11] vinifmor commented on #84
@szarik001 , could you paste the result o the following command (`python -c "import locale; print(locale.getdefaultlocale())"`) here ?

Also, when you say you can't install anything it means you cannot find any to install ?

[2020-04-13 15:01] szarik001 commented on #84
@vinifmor the command returns the following:
`(None, None)`

After changing translations.py as mentioned when I try to install an aur package it doesn't work. Here is the log:
[code]

[2020-04-13 15:10] vinifmor commented on #84
It seems your Python installation is not able to retrieve your system default locale. I'm going to add a workaround to use English for this scenario.

Open it through the command line (`bauh`) and see if any error output is displayed when you try to install the package you want. (by the way, which one are you trying to install ? I'm going to try it here )

[2020-04-13 15:49] szarik001 commented on #84
@vinifmor I'm trying to install proton-ge-custom-bin from the aur. I'm not currently at my PC but once I get back, I'll send you the command line output.

[2020-04-13 18:39] vinifmor commented on #84
Ok, I will be waiting for you logs to see what's happening on your system. I've just installed with bauh **0.8.5** and had no issues.

![bauh_error_1](https://user-images.githubusercontent.com/4312414/79148936-b4358d00-7d9c-11ea-9ae6-cf44c955a988.png)

![bauh_error_2](https://user-images.githubusercontent.com/4312414/79148945-b8fa4100-7d9c-11ea-8b1e-e131f9d60423.png)

I've already fixed the locale

[2020-04-13 22:59] szarik001 commented on #84
I ran Bauh from the terminal and I tried installing it again. This is the output from the terminal:

[code]

[2020-04-14 10:49] damiendenat opened #85 "impossible install bauh error"
`damien@damien-X756UV:~$ bauh_env/bin/pip install bauh
Collecting bauh
  Using cached https://files.pythonhosted.org/packages/fc/f1/c85b9f78503f0653bb6d887cbf0eae8e6ea9c21f62cb72a7081e989472f5/bauh-0.8.5-py3-none-any.whl
Collecting requests>=2.18 (from bauh)
  Using cached https://files.pythonhosted.org/packages/1a/70/1935c770cb3be6e3a8b78ced23d7e0f3b187f5cbfab4749523ed65d7c9b1/requests-2.23.0-py2

[2020-04-14 12:43] vinifmor commented on #85
@damiendenat , what's your distro and its version ?

[2020-04-14 13:58] damiendenat commented on #85
Ubuntu 18.04

[2020-04-14 15:06] vinifmor commented on #85
Try to upgrade the **pip** and **setuptools** versions of the **bauh_env** before installing bauh:
[code]
If it doesn't work, try to install the **python3-venv** package and recreate the environment from the ground like this:
[code]

[2020-04-14 15:22] damiendenat commented on #85
It works
Merci beaucoup!

[2020-04-14 15:22] #85 closed

[2020-04-14 15:29] vinifmor commented on #85
No worries. Cheers.

[2020-04-14 15:35] vinifmor commented on #84
@szarik001, try **bauh-staging** (version 0.9.0.RC-3) from **AUR** and let me know if its working now.

[2020-04-14 15:46] szarik001 commented on #84
It got further then last time but still didn't install.
This is from the log file:
[code]
And this is from the console:
[code]

[2020-04-14 16:12] vinifmor commented on #84
Already know what's happening. I'm going to publish a fix to bauh-staging in a few hours

[2020-04-14 17:53] vinifmor commented on #84
Could you paste the result of the following command here ? (`cat /etc/makepkg.conf | grep PKGEXT`)

[2020-04-14 18:28] szarik001 commented on #84
it returns `PKGEXT='.pkg.tar'`

[2020-04-14 18:37] vinifmor commented on #84
please, edit this file (**/etc/makepkg.conf**) and replace the **PKGEXT** value by **'.pkg.tar.xz'**. Then try again to install the AUR packages you want. Give me a feedback if it works now.

[2020-04-14 19:01] szarik001 commented on #84
Thanks. That fixed it. It works fine now.

[2020-04-14 19:01] #84 closed

[2020-04-14 19:07] vinifmor commented on #84
No worries. Cheers.

[2020-04-15 19:52] vinifmor commented on #15
bauh **0.9.0** is out with this feature implemented. Detailed release notes: https://forum.manjaro.org/t/bauh-formerly-known-as-fpakman-a-gui-for-flatpak-and-snap-management/96180/167

Cheers

@DarkRB @Lennox84 @lfom

[2020-04-15 19:52] #15 closed

[2020-04-15 19:54] vinifmor commented on #9
Hi, @KlausDevWalker. I've just published version **0.9.0** supporting the distro repositories. Have at the detailed release notes: https://forum.manjaro.org/t/bauh-formerly-known-as-fpakman-a-gui-for-flatpak-and-snap-management/96180/167

I'll be closing this issue.

Cheers

[2020-04-15 19:54] #9 closed

[2020-04-16 00:00] lfom commented on #15
@vinifmor Awesome! Thanks for the heads up! I wi now ll report any bugs regarding manual AppImage installs if I find any. The only thing I had to do do after updating was edit the .desktop file I use to run bauh as `bauh --tray 1` does not work anymore. Keep it up!

[2020-04-16 04:28] Lennox84 commented on #15
Greats news thanks @vinifmor looking forward to updating my Manjaro build
and giving it a whirl.

Thanks again for all your hard work 💪💪💪💪

On Thu, 16 Apr 2020 at 10:00, lfom <notifications@github.com> wrote:

[2020-04-16 13:24] vinifmor commented on #15
No worries, guys...

@lfom , I've just simplified the tray parameter. You can either call it by passing just `--tray` or by calling `bauh-tray`. Any doubt, let me know

[2020-04-16 13:25] vinifmor commented on #69
@Lennox84 @masteor is this issue still happening on your ends ?

[2020-04-16 15:26] lfom commented on #15
@vinifmor Yeah, I figured it out: after updating to 0.9.0 my app launcher wasn't working anymore, although it worked using the command in the Terminal. I think I worded it bad, it wasn't a complaining, more like I wanted to report the problem for anyone else with the same problem. I saw your not about the change, but it didn't say that the old command would cause any issues. Thanks again. Regards

[2020-04-16 21:08] Lennox84 commented on #69
Yeah still happening for me, removed repo version and installed AUR. Still
happening.

I've just installed a fresh version of manjaro on another machine. Will
install bauh fresh on new machine in the next few hours and let you know
how it goes. I'll also update the original machine today and see if the
problem still exists.

Will update soon 😁

On Thu, 16 Apr 2020, 11:26 pm Vinícius Moreira, <noti

[2020-04-16 21:13] vinifmor commented on #69
Thanks

[2020-04-17 16:40] gobonja opened #87 "[arch] Option to remove unnecessary dependencies"
New 0.9.0 version is great, expecially arch repository support!

Is it possible to add pacman option for remove unnecessary dependencies when removing packages?

pacman -R [-s, --recursive]

This is currently only thing that keeps me from replacing pamac with bauh.

Thanks in advance

[2020-04-17 19:34] vinifmor commented on #87
@gobonja do you mean an option to remove all unnecessary packages from the system ? The "uninstall" action was re-implemented for Arch packages in 0.9.0 and supports transitive dependencies exclusion.

![uninstall](https://user-images.githubusercontent.com/4312414/79607214-42758000-80c9-11ea-8300-283d07b42e17.png)

[2020-04-17 20:17] gobonja commented on #87
Installing e.g. xed also installs xed's dependencies (gspell, gtksourceview3, libpeas, xapps)
When bauh is removing packages, it uses command:
`sudo -S pacman -R xed --noconfirm`
which results in removing only xed
If you provide option to append **-s** or  **--recursive** to pacman it will also remove xed's dependencies since they are not needed anymore.
`sudo -S pacman -Rs xed --noconfirm` or `su

[2020-04-17 20:57] vinifmor commented on #87
In this latest version bauh removes all required, so the command would look like: `pacman -R xed xapps gspell etc... --noconfirm`. The optional required are ignored for the moment. But sure, it is a good add. I'm going to add this feature to the backlog log.

Cheers.

[2020-04-18 01:53] Lennox84 commented on #69
Ok so fresh install of Manjaro with xfe went smoothly. Also installed it on
Pop OS with zero issues 😊 Love the new v9 upgrades. Starting to really
feel like a standalone package.

Great work Vin! Going to test on my other kde install (the original with
the issue). Will respond in the next few hours.

Thank you again Vin 💪

On Fri, 17 Apr 2020, 7:13 am Vinícius Moreira, <notifications@github.com>
w

[2020-04-18 06:19] Lennox84 commented on #69
Ok so issue still exists on 8.5 and 9.0
The + items work, installed digiKam.Appimage 😇
Cleaned Cache and did a re-sync
Tried out system upgrade
All looks good 💪

Are there any tests you would like me to try? I'm wondering if there's a
setting I've changed in the past which is causing an error, is there a file
or log I can backup and replace to see if the trigger for the issue is in
there?? just a

[2020-04-18 23:10] vinifmor commented on #69
Hi @Lennox84 , thank you for the effort in testing the new features. The users feedback is very important for the future of bauh.

In relation to the config file... it is possible. Please, try to execute the following commands and tell me if the settings dialog shows up:
[code]

[2020-04-20 00:34] Ark-Shell opened #88 "Internet connection needed"
Hi!

I'm running bauh (german version) on Manjaro and it worked well until today when it tells me on every search "Internet connection needed". I have a connection and I can ask buah to refresh the mirrors or synchronise the database without any problem. But I can't search for any new software...

If I use pacman through command line it runs without any problem!

[2020-04-20 13:02] vinifmor commented on #88
Hi @Ark-Shell , how many internet interfaces does your device has ? If you restart bauh the problem still happens ?

[2020-04-20 13:45] AWHubGit opened #89 "no exit code - finish info for upgrades"
Running bauh in the GUI updating an AUR-App with "show details" there is no exit code anywhere or any other info if updating/upgrading has finished with success/fail.

Please add.

[2020-04-20 21:24] vinifmor commented on #89
Already added and available in **bauh-staging** (0.9.1.RC-1)  from **AUR**

![aur_status](https://user-images.githubusercontent.com/4312414/79801274-32ada400-8334-11ea-8231-b16ca70e30df.png)

![aur_status_failed](https://user-images.githubusercontent.com/4312414/79801287-380aee80-8334-11ea-845b-bdd749b1dc0f.png)

[2020-04-20 21:28] vinifmor commented on #87
Added a behavior to uninstall that for related unneeded packages. You can try by installing **bauh-staging** (0.9.1.RC-1) from **AUR**. Let me know if it's working on your end.

![uninstall_transient](https://user-images.githubusercontent.com/4312414/79801512-a18afd00-8334-11ea-9212-77fecd7a6e22.png)

The final release (**0.9.1**) should be available in the next days.

[2020-04-20 21:29] vinifmor commented on #88
@Ark-Shell , try **bauh-staging** (0.9.1.RC-1) and let me know if the issue persists.

[2020-04-20 22:15] gobonja commented on #87
It doesn't seems to be working correctly (e.g. tilix and xed)
tilix -> gtkd, liblphobos - not removed
xed -> gspell,  gtksourceview3,  libpeas,  xapps - not removed

I like your approach with **keep** and **uninstall** buttons.
However, clicking **close** button doesn't cancel operation so it's little confusing.
Also adding **cancel** next to the keep and uninstall would be great from user perspec

[2020-04-20 22:46] gobonja commented on #87
I don't know how are you getting list of dependencies to be removed, but you can get list without version number by running:
`pacman -Rs --print-format=%n xed`

Parameter **--print-format** implies **--print** so it will only print the targets instead of performing the actual operation (sync, remove or upgrade).

[2020-04-21 11:59] Ark-Shell commented on #88
I have restarted bauh, uninstalled and installed it - it's still the same problem.
I habe 3 network interfaces, but only one of them is connected to the internet.

I'll try to install the bauh-staging.

[2020-04-21 13:45] vinifmor commented on #87
The close button would be "X" ?

I'm going to review those cases you mentioned. Thanks for the tip regarding the pacman simulation command

[2020-04-21 13:49] gobonja commented on #87
Yes, it is X button.

[2020-04-21 20:59] Lennox84 commented on #69
WooHoo!!!

Success, it works, the only problem I thought of now is we should have
backed up the original and I could have sent it to you to review.

Again thanks for all of your hard work. It's working great on both my
Manjaro machines 1xKDE & 1xXFCE.
I haven't needed to use pamac for a few days now, been solely using bauh
and it's working great.

Kind regards,
Lennox84

On Sun, 19 Apr 2020 at 09:

[2020-04-22 12:53] vinifmor commented on #69
Great @Lennox84 ! Well, it seems to be an issue while parsing the config files. I'm going to add a treatment to prevent this sort of error. I'm going to publish the first minor release (0.9.1) in the next days (it fixes some behaviors related to Arch support). Some of the fixes are already published in **bauh-staging** if you want to give them a shot.

[2020-04-22 19:07] Kadir95 opened #90 "Snap channel support"
To select which channel I want to install would be helpful.

[2020-04-22 19:16] vinifmor commented on #90
Hi @Kadir95 . I'm going to add to the backlog.

[2020-04-22 21:16] vinifmor commented on #87
@gobonja , I've fixed the behavior. Please, try the new RC from **bauh-staging** and let me know if it is works on your end.

![uninstall_transient_2](https://user-images.githubusercontent.com/4312414/80034784-5522f700-84c5-11ea-9a1a-2ebd5b42872f.png)

[2020-04-23 17:48] gobonja commented on #87
It appears that there are still some issues.
Few examples:
removing tilix -> leaves liblphobos
removing deepin-screenshot -> leaves: libqtxdg, dtkwidget, deepin-qt-dbus-factory, dtkcore, gsettings-qt, deepin-qt5dxcb-plugin

[2020-04-23 17:59] vinifmor commented on #87
could you check if these dependencies are not required by other packages ?

[2020-04-23 18:11] gobonja commented on #87
Yes, I checked. Those packages are removed when running run:
`sudo pacman -Rs deepin-screenshot`

Also I noticed that packages are installed with:
`sudo -S pacman -S libqtxdg deepin-qt5integration deepin-qt-dbus-factory deepin-qt5dxcb-plugin dtkwidget deepin-turbo dtkwm dtkcore gsettings-qt deepin-screenshot --noconfirm`

Doing so marks packages:
`Install Reason  : Explicitly installed`

Which mea

[2020-04-23 18:33] vinifmor commented on #87
Indeed... but there is a reason for that. There are some packages that have malformed pkgbuilds and put some mutual dependent packages... for such cases if a install command is executed before with all dependencies,  the wished package ends up being installed as a dependency of a dependency.If you use pacman's interactive mode, it sorts this out. But this subject could be another thread :). I'm go

[2020-04-23 23:27] vinifmor commented on #87
@gobonja , it seems fixed now. I've published a new RC to **bauh-staging** (RC-4).

First bauh will ask the user to select the main dependencies not required by the package:

![uninstall_transient_3](https://user-images.githubusercontent.com/4312414/80159034-65f46b00-85a0-11ea-8f54-379816386d21.png)

After the wanted are selected, bauh will  check their dependencies trees and displays everything t

[2020-04-24 07:13] gobonja commented on #87
Works like a charm!

Thank you for listening to the users and implementing this feature.

[2020-04-24 18:41] #89 closed

[2020-04-24 18:42] vinifmor commented on #87
No worries. The final release (0.9.1) is already available. I'm going to close this issue.

Cheers

[2020-04-24 18:42] #87 closed

[2020-04-24 18:43] vinifmor commented on #88
@Ark-Shell, is it working for 0.9.1 ?

[2020-04-25 17:13] gobonja commented on #44
Same issue happens again:

![Screenshot_20200425_190910](https://user-images.githubusercontent.com/26535797/80285877-42f4c300-8728-11ea-851f-f8e461a6b7d2.png)
![Screenshot_20200425_190836](https://user-images.githubusercontent.com/26535797/80285901-661f7280-8728-11ea-98f9-eb30a0825f63.png)

[2020-04-27 07:31] kdvcodes opened #92 "stuck at initialization"
my bauh on Manjaro is stuck at 10% on refresing mirrors and 0% on syncing packages databases. Is there a way to fix this issue? I really like the new arch packages features so I don't want to disable it.

[2020-04-27 08:31] AWHubGit commented on #89
thanks

[2020-04-27 10:16] renestoe opened #93 "ModuleNotFoundError: No module named 'pip'"
this error occured while trying to upgrade Bauh 0.90

bauh_env/bin/pip install bauh --upgrade
Traceback (most recent call last):
  File "bauh_env/bin/pip", line 6, in <module>
    from pip._internal.cli.main import main
ModuleNotFoundError: No module named 'pip'

[2020-04-27 10:30] renestoe commented on #93
i found a solution to this error:
i have to go to /bauh_env/bin/ and issue:
pip3 install bauh --upgrade

How can i issue this command in Bauh-upgrade.desktop file?

[2020-04-27 13:41] vinifmor commented on #92
Refreshing mirrors can take some time depending of how many countries you are using. Bauh also sorts them by the fastest after the refresh to optimize the download speed.  At the moment is not possible to see the command line logs on initialization window, but this feature should be added on the next minor releases. Now you could disable the mirror refreshing during the initialization via the sett

[2020-04-27 13:46] vinifmor commented on #93
You can try to uninstall bauh first and them install it again. I've seen this before with some Python libraries.
[code]
Also you could try to upgrade your pip and setuptools before reinstalling it:
[code]

I believe this command you executed (`pip3 install bauh --upgrade`) would install bauh locally on your system.

Would you like to issue the upgrade command through the desktop file ?

[2020-04-27 13:50] vinifmor commented on #44
@gobonja thank you for reporting the problem. I've already published a fix to the server-side script responsible for generating the AppImage databases. Try to install them again and let me know if the issue persists.

[2020-04-28 06:23] kdvcodes commented on #92
I see. Thank you. And thanks for developing such an awesome program to manage package from all sources! I install on all systems I use that don't have this installed by default now :)

[2020-04-28 06:23] #92 closed

[2020-04-28 13:21] vinifmor commented on #92
No worries. I'm glad the tool has been useful for you.

Cheers

[2020-04-29 09:10] Lennox84 opened #100 "Weird AUR failed install"
Went to install an application called Turtl and bauh found the aur without a problem but when I went to install this is the log:

Found turtl-0.7.2.6-pre-sync-fix-linux64.tar.bz2
==> WARNING: Skipping verification of source file checksums.
==> Extracting sources...
-> Extracting turtl-0.7.2.6-pre-sync-fix-linux64.tar.bz2 with bsdtar
bsdtar: Failed to set default locale
==> Entering fakeroot enviro

[2020-04-29 13:35] vinifmor commented on #100
Hi @Lennox84 . This package seems to execute a command that tries to create a dir at the system level (which is wrong). The correct way would be `mkdir ${pkdir}/my_directory`. I tried to install here with no success as well.

Have you had any trouble with other AUR packages ?

By the way... I recommend that you upgrade to version 0.9.1. There are important fixes related to Arch / AUR support ->  h

[2020-04-29 22:58] Lennox84 commented on #100
Hi Vin,

Yeah, I thought it was the package. Good to clarify.

No, I've had no issues with other packages so all good.
Apologies, I am running 0.9.1 I miss-typed.

Just curious but to avoid something like this happening with other packages
(Them trying to write to the wrong path or do something that could breach
security, would bauh be able to see that as it happens and flag, that way
the user wou

[2020-04-30 15:19] vinifmor commented on #100
@Lennox84, the makepkg command  (used to build the AUR packages) is protected by default and cannot be executed with root privileges. This behavior prevents any sort of changes on the system structure. It is possible to detect simple scenarios if the wrong command is on the PKGBUILD declaration. In this particular case, the wrong `mkdir` command is not defined in the PKGBUILD itself (probably exec

[2020-05-01 12:59] Helg1980 opened #101 "The process of infinite initialization occurs."
![Screenshot_20200501_145353](https://user-images.githubusercontent.com/59513179/80807067-7a49f080-8bbc-11ea-9163-891c5aeb6883.png)

At startup, the process of infinite initialization occurs.

bauh version: 0.9.0, 0.9.1
O.S: Manjaro ver. 20

[2020-05-01 16:58] Ark-Shell commented on #88
Sorry for coming back so late. It is indeed working with 0.9.1. Thank you!

[2020-05-01 21:35] vinifmor commented on #101
Please, launch bauh via command line (`bauh`) and paste any error log produced here. If none is displayed, try to reset bauh settings (`bauh --reset`) and launch it again (let me know if it works)

[2020-05-01 21:52] Helg1980 commented on #101
[helg@Houston ~]$ bauh --reset
[bauh] Cleaning configuration and cache files
[bauh] Deleting directory /home/helg/.cache/bauh
[bauh] Directory /home/helg/.cache/bauh deleted
[bauh] Deleting directory /home/helg/.config/bauh
[bauh] Directory /home/helg/.config/bauh deleted
[bauh][appimage] Deleting /home/helg/.local/share/bauh/appimage/releases.db
[bauh][appimage] /home/helg/.local/share/bauh/appim

[2020-05-01 22:29] vinifmor commented on #101
Right... I'm going to have a look here. For now if you want to use the tool, disable the Arch support through the settings window. The quickest way to open it is by typing `bauh --settings`. Thanks for the report.

[2020-05-02 14:55] vinifmor commented on #101
@Helg1980 , I've published a possible fix for this issue in **bauh-staging** (0.9.2.RC-4) from AUR. Could you try it and give me a feedback if it works now ? Before launching bauh through the terminal, reset it again (`bauh --reset`).

[2020-05-02 16:05] Helg1980 commented on #101
Yes, everything works in the 0.9.2.RC-4 version .
Thank you very much!

[2020-05-02 17:34] #88 closed

[2020-05-02 17:35] vinifmor commented on #101
No worries. The final 0.9.2 release should be available soon.

Cheers

[2020-05-03 17:03] tom-tullio commented on #69
Just another data point -- I was experiencing the same issue on 5.6.8-1-MANJARO/Cinnamon with **0.9.2.RC-4**

Clicking the settings gear closes the application.  Terminal showed:

`Traceback (most recent call last):
  File "/usr/lib/python3.8/site-packages/bauh/view/qt/window.py", line 1228, in show_settings
    self.settings_window = SettingsWindow(self.manager, self.i18n, self.screen_size, self)

[2020-05-03 18:45] vinifmor commented on #69
@tom-tullio it seems a Qt Style previously set was not available on the system anymore. When you reset bauh it started to use the default theme (Fusion) and could render normally. I'm going to implement a workaround for this scenario. Thank you for reporting the issue.

[2020-05-03 22:35] vinifmor commented on #69
I've just published a new RC to **bauh-staging** (**0.9.2.RC-5**) fixing this style issue. The final release should be available soon. Any problem, let me know

[2020-05-04 04:19] Finermeerkat137 opened #102 "Feature Request - Add option to enable or disable restart prompt"
Whenever I upgrade the system, there is a prompt asking me to restart. One option that might be a good idea is a setting in which you can enable or disable these prompts.

[2020-05-04 15:01] vinifmor commented on #102
@Finermeerkat137 , **0.9.2** has just been released with this possibility. The release notes: https://github.com/vinifmor/bauh/releases/tag/0.9.2

[2020-05-04 15:01] #102 closed

[2020-05-04 15:02] #101 closed

[2020-05-04 15:05] vinifmor commented on #69
The final release with this fix is out. If this problem shows up again, please, reopen the issue.

Cheers

[2020-05-04 15:05] #69 closed

[2020-05-05 16:06] tulliana opened #104 "Clicking on settings crashes the application."
![bauh-settings](https://user-images.githubusercontent.com/2324162/81088430-9a064f00-8f03-11ea-9574-8bc3a1d6d47c.png)
**Describe the bug**
Clicking on settings crashes the application.
Application crashes when I click on Bauh settings. Terminal output and screenshot below.

**Software Environment**
**bauh version:** 0.9.2
**O.S:** Archman Linux (arch)
**Python version:** 3.8.2-2
**bauh installatio

[2020-05-05 16:51] vinifmor commented on #104
@tulliana , I'm going to have a look here and publish a fix as soon as possible. Thanks for reporting the issue.

[2020-05-05 17:00] vinifmor commented on #104
@tulliana , please post your bauh main config file here (```cat ~/.config/bauh/config.yml```)

[2020-05-05 17:29] tulliana commented on #104
`[tulliana@tulliana-pc ~]$ cat ~/.config/bauh/config.yml
backup:
  downgrade: null
  enabled: true
  install: null
  mode: incremental
  type: rsync
  uninstall: null
  upgrade: null
disk:
  trim:
    after_upgrade: false
download:
  icons: true
  multithreaded: true
gems: null
locale: null
memory_cache:
  data_expiration: 3600
  icon_expiration: 300
store_root_password: true
suggestions:
  by_typ

[2020-05-05 21:40] vinifmor commented on #104
@tulliana , try **bauh-staging** from AUR (0.9.3.RC-2) and let me know if it's working now

[2020-05-07 22:37] tulliana commented on #104
Thanks mate.

Bauh-staging 0.9.3.RC-2 worked without any problems.

I want to ask something else. I cannot see the local  Arch package installation option from my computer. Bauh only sees AppImage files.

[2020-05-09 18:08] vinifmor commented on #104
No worries.. About your question: do you mean to install select and install a local Arch package ?

[2020-05-11 03:43] AWHubGit opened #107 "bauh 0.9.2 text/lines garbled"
In bauh 0.9.2 text/lines are garbled. Changing auto scale or style in settings has no effect on this.

Bauh was installed by AUR on Arch Linux with Gnome 3.36.2 on Wayland.
screenfetch output:

OS: Arch Linux
                `+oooo:                Kernel: x86_64 Linux 5.6.11-arch1-1
               `+oooooo:               Uptime: 22m
               -+oooooo+:              Packages: 1189

[2020-05-11 12:59] vinifmor commented on #107
Are you using it maximized ?

[2020-05-11 13:39] AWHubGit commented on #107
Yes. Only garbled when maximized. Not maximized there are "..."! Refreshing no change.

[2020-05-11 14:39] vinifmor commented on #107
Could reproduce here, thanks for reporting the issue.

In relation to '...', it means the field is being retrieved asynchronously. For now it stays with '...' if the field could not be retrieved.

[2020-05-11 21:42] vinifmor commented on #107
@AWHubGit , I've published a fix to **bauh-staging** (0.9.3.RC-4) in AUR. Let me know if it is working now.

[2020-05-12 20:34] #104 closed

[2020-05-13 18:01] AWHubGit commented on #107
Installed 0.9.3. Now it looks fine! Bauh is a very good tool!

[2020-05-13 18:02] #107 closed

[2020-05-13 18:35] vinifmor commented on #107
Great... thanks @AWHubGit

[2020-05-17 07:09] zsoltsandor opened #110 "Zypper (and other package managers) support"
I have just downloaded bauh with pip onmy openSUSE Tumbleweed, and now it has replaced KDE's Discover, adding more features, yet being lightweight. I can finally manage Flatpaks, Snaps, and Appimages from the same app.
If it had support for package managers, like Zypper, DNF, apt, urpmi that would be nice too - even better, and possibly easier if they have some Python interface, like DNF and apt d

[2020-05-17 13:57] vinifmor commented on #110
@zsoltsandor, this project aims to be single solution for overall Linux distributions. More packaging technologies should be integrated during its development cycle.

When you say a Python interface, do you mean a command line one ?

[2020-05-17 14:13] #93 closed

[2020-05-17 17:11] technoshaman7777 opened #111 "Bauh broken after Manjaro upgrade"
**Describe the bug**
Bauh seemed to stop working after upgrade to Manjaro 20 over 2 weeks ago. I'll be the first to admit that I'm not a an advanced user of terminal, but can usually get by if I have clear instructions.

**Software Environment**
bauh version: bauh 0.9.3
O.S: Manjaro 20.0.1  linux kernel 5.5.19-1
Python version: 3.8.2-2
Gnome version: 3.36.2
Windowing System: X11
bauh installation

[2020-05-17 17:39] vinifmor commented on #111
@technoshaman7777 , try this and let me know if it works:
[code]

[2020-05-18 04:20] technoshaman7777 commented on #111
Getting the same thing:

yaml.scanner.ScannerError: mapping values are not allowed here

[2020-05-18 13:49] vinifmor commented on #111
It seems something related to your bauh's config files. Have you manually changed them or just through the UI ?

[2020-05-18 13:51] vinifmor commented on #111
What's your python-pyaml version ? `pacman -Q | grep python-pyaml`

[2020-05-18 13:56] technoshaman7777 commented on #111
python-pyaml 20.4.0-1

I haven't made any manual changes to the configs at all.

[2020-05-18 15:14] vinifmor commented on #111
Could you attach your main bauh's config file here ? I'm going to test some scenarios.
The file is located at **~/.config/bauh/config.yml**

[2020-05-18 16:33] technoshaman7777 commented on #111
[config (copy).txt](https://github.com/vinifmor/bauh/files/4645404/config.copy.txt)

Can you download that? I renamed it with copy  and removed yaml for .txt. It wouldn't allow an upload of direct file.

[2020-05-18 17:23] Brorean opened #112 "Initializing screen loops forever when only configured for flatpaks"
**Describe the bug**
I'm using Linux Mint 19.3 and Bauh is only configured for Flatpaks; this causes the _Initializing_ screen to loop forever until the _Skip_ button becomes available.

**Software Environment**
bauh version: 0.9.3
O.S: Linux Mint 19.3
Python version: 3.6.9
bauh installation method: manual

[2020-05-18 17:40] vinifmor commented on #112
Hi @Brorean , please, launch bauh through the command line (`bauh`) and paste any error output produced here.

[2020-05-18 17:48] vinifmor commented on #112
I could reproduce here thanks to your PR description. The real problem is that the current initialization window cannot handle scenarios when there is no initialization task. I'm going to publish a proper fix soon. I would like to thank you for effort in coding a possible fix for the problem anyway.

[2020-05-18 18:12] Brorean commented on #112
Sure no problem, I had fun going through the code

[2020-05-18 18:15] vinifmor commented on #112
@Brorean , I've published the fix for the issue on the staging branch (https://github.com/vinifmor/bauh/commit/67d8204d19c16fdfed0aaf6ac8f5ca4a1431b461). Could you give me a feedback if it works now ?

[2020-05-18 18:29] vinifmor commented on #111
I've downloaded here. It seems the file has a bad key and format. I've generated a default one and attached here as a zip file [config.yml.zip](https://github.com/vinifmor/bauh/files/4645926/config.yml.zip). Please, replace yours by it and let me know if bauh launches normally.

[2020-05-18 20:34] Brorean commented on #112
Yes this fix solves the problem.  Thank you

[2020-05-18 20:52] vinifmor commented on #112
Great... the final release (0.9.4) should be available soon with this fix. I'm going to close your PR.

[2020-05-18 21:03] #100 closed

[2020-05-18 22:33] technoshaman7777 commented on #111
That worked, thank you very much. Just one question. I started an RSYNC backup when I tried to upgrade apps, but my Root drive is almost full. Is that a backup of just the apps it has installed, or is that a backup of the entire Root drive?

[2020-05-19 14:35] vinifmor commented on #111
It generates a full backup of your root partition (**/**) using an external tool called Timeshift. You can manage the generated backups through Timeshift's UI

Are you using an Arch Linux distro ? If so, install bauh's through the AUR and the icons will be added. Otherwise, check the section **Manual installation** of bauh's README file. This section explains how you can add the desktop entries wi

[2020-05-20 02:32] technoshaman7777 commented on #111
Fantastic! Everything works again. I already have Timeshift installed, and also had the packages for autosaving BTRFS snapshots incrementally installed prior to this installed via Pamac.  That should not cause any problems right? By enabling it on Bauh, it is just providing a UI to manage it? When it asks if I want to generate a system copy, will it copy the entire root over again, or will it just

[2020-05-20 13:54] vinifmor commented on #111
Bauh just asks Timeshift to generate a new backup based on your Timeshift's config. If you don't have a default config, Timeshift will generate a new one. The default backup mode is **incremental** and **Rsync**, but you can change it via settings (**Backup** tab). You can even completely disable bauh's backup integration if you prefer to manually manage your system's snapshots. All snapshots can

[2020-05-20 13:58] vinifmor commented on #111
![backup_mode](https://user-images.githubusercontent.com/4312414/82454937-c46e1580-9a88-11ea-8e9e-d3aeb5d73055.png)

[2020-05-20 16:34] technoshaman7777 commented on #111
Thank you for all your help. This is a great project, and it keeps getting better!

[2020-05-20 16:34] #111 closed

[2020-05-20 19:01] vinifmor commented on #111
No worries.  If you notice any more issues, report here so we can improve the tool.

Cheers

[2020-05-21 04:46] AWHubGit commented on #36
Red Hat will switch to atomic updates with Fedora Silverblue. Completely different technique to do updates.
https://fedoramagazine.org/fedora-silverblue-brings-future-tech-to-the-desktop/

[2020-05-21 05:01] AWHubGit opened #114 "Suggestion: Integrate update function Gnome extensions"
Integrate update function for installed Gnome extensions
https://gitlab.gnome.org/GNOME/chrome-gnome-shell

[2020-05-21 13:09] jtagcat commented on #36
Fair point, I haven't made it to Silverblue yet, a better title would be this:

[2020-05-21 13:45] vinifmor commented on #36
I've already tried to port bauh as a Flatpak, but Flatpak has some permission issues that I couldn't pass through. Bauh ends up not working properly, since it needs to call a lot of host's installed programs. I'm going to open a PullRequest with the tag **needs help** if someone wants to have a look and possibly fix the permission issues.

[2020-05-28 10:24] AsciiWolf opened #115 "Distribute bauh as a Flatpak"
I know that it is possible to install bauh using pip, but I think that it would be great if bauh could also be installed as a Flatpak. It would make the installation much easier for beginners. It would also make it possible to use bauh on immutable systems such as Fedora Silverblue. However, I am not sure if this is possible. It would probably require many changes to the bauh code and communicatio

[2020-05-28 13:30] vinifmor commented on #115
@AsciiWolf , I agree. I've already tried to generate a Flatpak version, but had a lot of permission problems and bauh ended up not working as it should. There is already an issue regarding this subject. I'm going to close this one and associate with the old one.

[2020-05-28 13:30] #115 closed

[2020-05-28 13:30] vinifmor commented on #36
[#115](https://github.com/vinifmor/bauh/issues/115)

[2020-05-31 13:54] AsciiWolf commented on #39
When making a RPM package, please also consider making a DEB package as well. :-)

[2020-06-01 07:06] tulliana opened #117 "FileNotFoundError: [Errno 2] No such file or directory: 'pacman-mirrors'"
Bauh crashes when trying to update.

**Terminal output:**
`[tulliana@tulliana-pc ~]$ bauh
qt5ct: using qt5ct plugin
qt.qpa.xcb: QXcbConnection: XCB error: 3 (BadWindow), sequence: 1312, resource id: 12836198, major code: 40 (TranslateCoords), minor code: 0
qt.qpa.xcb: QXcbConnection: XCB error: 3 (BadWindow), sequence: 1746, resource id: 12837721, major code: 40 (TranslateCoords), minor code: 0
Tr

[2020-06-01 13:25] vinifmor commented on #117
@tulliana , **pacman-mirrors** is a program responsible for managing the mirrors set on your system. The real issue is that bauh is not validating if it is installed on your system. I'm going to provided a fix for this. For now you can either install **pacman-mirrors** or go to **Settings** > **Arch** and disable the option **Multi-threaded download (repositories)**

[2020-06-01 14:00] vinifmor commented on #117
Already fixed that on **staging**. I'm going to publish to AUR in a few hours. If you want to check the changes -> https://github.com/vinifmor/bauh/commit/5901c4ceeacc27fad843b842d6fd9573915f6157

[2020-06-01 17:43] #112 closed

[2020-06-01 22:09] vinifmor commented on #117
I've just published to AUR (**bauh-staging** > 0.9.5.RC-1). Could you give me a feedback if it is working now ?

[2020-06-02 08:31] kgudalov opened #118 "The problem with saving settings"
**Describe the bug**
I usually disable Arch support, since I use Pamac for this. Recently, my saves stopped working, or rather they work the first time or two, and then they are enabled again by default. As a temporary solution, banning writing to the /.config/bauh/config.yml file helped
**Software Environment**
bauh version: 0.9.4
O.S: name and version Arch linux
Python version: 3.8.3
bauh instal

[2020-06-02 14:26] vinifmor commented on #118
Hi, @kgudalov . I've noticed this behavior in 0.9.4. I'm going to publish a fix release as soon as possible.

[2020-06-02 21:17] vinifmor commented on #118
@kgudalov , I've published a possible fix to the staging branch. It is available in AUR as **bauh-staging** (0.9.5.RC-2). Could you give me a feedback if the issue is fixed ?

[2020-06-03 05:37] kgudalov commented on #118
@vinifmor
Yes, everything works fine, thank you

[2020-06-03 13:04] vinifmor commented on #118
Great. I'm going to publish the final 0.9.5 release in a few days.

[2020-06-04 11:41] Dawoodoz opened #119 "Packet selection does not update when a program was uninstalled."
Packet selection from clicking or draging with left mouse button does not update correctly when a program was uninstalled. This looks like a bug in the visual component itself because it should have updated selection automatically when an item is removed. If I have four packets installed and uninstall the last of them, the following packet taking its place becomes selected. Not even sure what the

[2020-06-04 14:23] vinifmor commented on #119
The blue selection is currently only used for highlighting purposes on the current UI. The behavior you described is not considered an issue at the moment.

[2020-06-06 19:53] #119 closed

[2020-06-07 15:21] #118 closed

[2020-06-07 15:21] #117 closed

[2020-06-13 16:40] gobonja opened #122 "Suggestion: symlink appimage to folder in $PATH"
It would be great if bauh would create symlink of installed appimages in folder which is exist in $PATH.

With this feature application could be launched directly from terminal and parameters could be passed to app (e.g.)
`vscodium ~/example-file` or `ksnip -f`

Easiest solution would be to create symlink in `$HOME/.local/bin/` (since this folder is already added to $PATH)

Or introduce new folder

[2020-06-14 14:33] vinifmor commented on #122
@gobonja it's a nice an easy improvement to add. The best path for the links would be **~/.local//bin**, as you described, since the AppImage files are stored locally as well. There are some conditions bauh will have to deal with:
1. the app/link name must not exist in **/usr/bin**, **/usr/local/bin** and **~/.local/bin**. If it does, the link will be named as **name-appimage**
2. if both **app na

[2020-06-14 14:40] gobonja commented on #122
@vinifmor I think that your suggestions covers everything.

[2020-06-14 23:41] perrsona1234 opened #123 "When I try to run bauh it complains about missing PyQt5.sip, despite it being installed."
**Describe the bug**
When I try to run `bauh` it complains about missing `PyQt5.sip`, despite it being installed.

[code]

**Software Environment**
bauh version: bauh-0.9.5
O.S: openSUSE Leap 15.2 RC (It's a Release Candidate, but I don't think this matters here, maybe lol)
Python version: 3.6
bauh installation method: From `pip` with `sudo pip3 install bauh`.

[2020-06-14 23:57] vinifmor commented on #123
It should be a missing dependency on your system (e.g: python-sip). You can try the manual installation method as well. Have a look at the project's README file for instructions > https://github.com/vinifmor/bauh#manual-installation

[2020-06-15 00:21] perrsona1234 commented on #123
I installed the `python3-sip` package and now I'm getting a different error:

[code]

Suprisingly, without the `python3-sip` package, I am able to run `bauh` as root:

[code]

[2020-06-15 12:50] vinifmor commented on #123
Actually there is a separate sip implementation for Qt5. Check if you distro has a package named **python-pyqt5-sip** and uninstall the **python-sip**.

[2020-06-16 21:57] vinifmor commented on #122
@gobonja , it is already available on **staging**. Could you give me a feedback if it is working properly on your end ? (you can install it through **AUR** as **bauh-staging**)

P.S: during the initialization process, bauh will create the symlinks if needed)

[2020-06-16 22:14] gobonja commented on #122
I just tested it and it works perfectly.

Great work!

[2020-06-17 12:45] vinifmor commented on #122
Great ! The final 0.9.6 release should be ready soon

[2020-06-20 19:30] jackforfaltu opened #124 "List all installed apps and dependencies not working (somewhat)? (And some more questions)"
How do I display all of my installed applications and dependencies in bauh? When I open bauh, I can see some of my installed apps (up to 100), but how do I get it to show me all of them. I am aware that I can change the settings to show more apps listed, but I don't want to put something like 2000 as my number there as I suspect things would get laggy displaying that much info. Shouldn't there be

[2020-06-21 14:53] vinifmor commented on #124
H @jackforfaltu , displaying thousands of packages is going to lag the table indeed. At the moment paging is not supported, but it is an interesting feature and will be added to the project's backlog.  About alphabetical order, it will be available on the next minor release (0.9.6).  Finally, regarding the question marks: they display information about the specific settings when you hover your mou

[2020-06-21 19:52] jackforfaltu commented on #124
Alright thanks for the help, I got icons to work by changing the Qt theme back to default (I was using custom before).

[2020-06-21 20:21] vinifmor commented on #124
No worries... By the way, which theme were you using ? I'm going to make some tests here.

[2020-06-23 03:24] jackforfaltu commented on #124
I believe I was using the fusion theme.

[2020-06-23 16:49] perrsona1234 commented on #123
From here https://repology.org/project/pyqt5-sip/versions I found that it's only packaged for Debian (-based) distros. I guess I will have to ask my distro maintainers to package it.

Should I close this now?

[2020-06-23 17:16] vinifmor commented on #123
I see.. well, you can install it manually. It will bring all Python dependencies correctly in a separate virtual environment regardless of the distro.

You can close it, since it is not a bauh issue.

[2020-06-23 17:18] perrsona1234 commented on #123
OK, thanks. I'm closing this one.

[2020-06-23 17:18] #123 closed

[2020-06-24 19:00] famewolf opened #125 "Can't install Cura AppImage"
**Describe the bug**
App downloads the cura appimage and then abends with an error saying a directory doesn't exist.

**Software Environment**
bauh version: 0.9.5 and 0.9.6-RC7
O.S: name and version Manjaro KDE (current)
Python version: 3.8.3
bauh installation method: manual / package manager   Pamac

Attempting to install cura results in this error even after manually creating the directory mysel

[2020-06-24 20:16] vinifmor commented on #125
Hi. I could install and launch Cura normally on my end. Let's investigate what can be wrong. Please, launch bauh through the command line (`bauh`), re-install Cura and post here any error stack produced on your CLI and also those produced in the "Show details" console.

[2020-06-24 21:31] famewolf commented on #125
Show Details:
Download Results:
gid   |stat|avg speed  |path/URI
======+====+===========+=======================================================
3f650b|OK  |   842KiB/s|/home/famewolf/.local/share/bauh/appimage/installed/cura-0-1/Cura-4.6.1.AppImage
Status Legend:
(OK):download completed.
chmod a+x /home/famewolf/.local/share/bauh/appimage/installed/cura-0-1/Cura-4.6.1.AppImage

rm -rf /home/famew

[2020-06-24 21:51] vinifmor commented on #125
Is **AppImageLauncher** installed on your system ? (or any kind of AppImage daemons)

If so, uninstall it, reboot your system and try re-installing Cura.

[2020-06-24 22:21] famewolf commented on #125
I uninstalled it the first time I tried to install cura because bauh indicated it prevented cura being installed. Not currently installed.  I'm willing to try a reboot.  Will report back.

[2020-06-24 22:27] famewolf commented on #125
Worked fine after a reboot.  Typical.  Sorry for bothering you.

[2020-06-24 22:27] #125 closed

[2020-06-25 14:51] vinifmor commented on #125
No worries. Generally after uninstalling a daemon/service it keeps running on the background.

[2020-06-26 13:29] #122 closed

[2020-06-26 13:31] vinifmor commented on #124
**Alphabetical order** is already available on **0.9.6**.

[2020-07-06 22:22] Anroch2020 opened #127 "Bauh UI icons not displayed"
Bauh UI icons are not displayed in archlinux
![Captura de pantalla de 2020-07-06 15-50-31](https://user-images.githubusercontent.com/67930062/86652550-c0974380-bfa1-11ea-8077-49418f8e953a.png)
Running bauh --logs don't show anything useful

**Software Environment**
Desktop Environment: Gnome 3.36.3
bauh version: 0.9.6-1
O.S: ArchLinux
Python version: 3.8.3-1
bauh installation method: Aur via yay

[2020-07-07 15:15] vinifmor commented on #127
I believe it is something related to the system's global Qt theme. Try changing the bauh's style on settings (Interface tab).

[2020-07-07 17:06] Anroch2020 commented on #127
Solved installing qt5-svg

Archlinux wiki say:

![Captura de pantalla de 2020-07-07 10-57-04](https://user-images.githubusercontent.com/67930062/86816079-a52f4580-c040-11ea-9eef-6a6fc977798a.png)

[2020-07-07 17:06] #127 closed

[2020-07-08 13:13] vinifmor commented on #127
Great. I'm going to update the PKGBUILD including **qt5-svg** as a dependency.

[2020-07-10 23:10] kreezxil opened #128 "What did it mean by search path?"
I saw at the end of an installation that it said `/home/kreezxil/.local/share/flatpak/exports/share` wasn't in the search path.

Is this same as the $PATH variable?

**Software Environment**
bauh version: 0.9.6
O.S: Manjaro 20.0.3
Python version: 3.8.3
bauh installation method: package manager

[2020-07-13 13:29] vinifmor commented on #128
@kreezxil , it seems this path is really not in $PATH, as you said. It is not in my device as well, but this message is not displayed for me. Try adding this path to $PATH and see if the message disappears.

[2020-07-13 17:43] kreezxil commented on #128
it didn't go away is why i asked
I see it at the end of lots of flatpak installs

On Mon, Jul 13, 2020 at 8:30 AM Vinícius Moreira <notifications@github.com>
wrote:

[2020-07-13 18:57] vinifmor commented on #128
I'm going to investigate here. Is there any problem with the installed Flatpaks ?

[2020-07-14 13:24] kreezxil commented on #128
no, i've detected no problems that i can see

On Mon, Jul 13, 2020 at 1:57 PM Vinícius Moreira <notifications@github.com>
wrote:

[2020-07-14 16:06] Argenlos opened #129 "Native Web Applications not present in Archlinux?"
Hello,

Cannot use Native Web Applications
The option is not available in the settings either.
When I type a web address like in the documentation "https://github.com/vinifmor/bauh#native-web-applications--web-", I don't get any feedback from the interface.

I haven't found any information about this problem, if I can help it will be a pleasure, but you will have to guide me a little.
Thanks

Arch

[2020-07-14 18:22] vinifmor commented on #129
Hello, @Argenlos . Probably your system is missing some dependencies the Web module requires to work. Are **python-lxml** and **python-beautifulsoup4** packages installed ? For more information, have a look at the section "Required dependencies" of https://github.com/vinifmor/bauh#native-web-applications--web-

[2020-07-14 19:49] Argenlos commented on #129
Shame on me.
Python-beautifulsoup4 was missing.
Thank you for coming back.
Sorry for the inconvenience. Thank you very much for your time.
Argenlos

[2020-07-14 19:49] #129 closed

[2020-07-14 20:03] vinifmor commented on #129
No worries... cheers!

[2020-07-20 03:41] TiLiNfIV opened #130 "Crash when upgrading openh264 flatpak"
**Describe the bug**
Hi, after upgrading my system to the latest Stable branch release on Manjaro today, I experienced a crash on bauh when I wanted to Upgrade all Flatpak and AUR applications. I have found out that openh264 is causing the crash by process of elimination.

Here's the logs that I grabbed with journalctl : https://pastebin.com/CUDGhq1X

Here's a screenshot of bauh :
![image](https:/

[2020-07-20 10:45] Lennox84 commented on #130
Apologies I should have raised this a while ago... had the same issue about 2 weeks ago. Updating through pacman in terminal fixed the issue and bauh has had no issues updating anything since.

Unsure if this was a package issue rather than a bauh issue... Just thought I'd add a little more background to this incase it's helpful.

Cheers, Len

[2020-07-21 04:42] lfom opened #131 "Bauh takes a loooong time syncing packages after first installation on Manjaro"
**Describe the bug**
After installing bauh for the first time, it lakes a long time (minutes, more than 5min on an i3 2.66GHZ) syncing packages. Looks like a bug because it shows 0% for a long time, and if the proccess is skeeped than it shows a blank (empty) window and does not show anything for a long time either.

**Software Environment**
bauh version: 0.9.6
O.S: Manjaro 20.0.3
Python version:

[2020-07-21 04:50] lfom opened #132 "Error installing slowmoVideo AppImage v0.6"
**Describe the bug**
1. Download latest version from http://slowmovideo.granjow.net/download.html
2. Try to install the downloaded AppImage file, bauh crashes but nothing is actually installed (error log from running bauh from CLI below)

**Software Environment**
bauh version: 0.9.6
O.S: Manjaro 20.0.3
Python version: 3.8.3
bauh installation method: pamac-manager (GUI)

I would suggest that the or

[2020-07-21 12:42] vinifmor commented on #130
@Lennox84 these two version are from different branches. Your installed Flatpaks probably require different versions of openh264. I'm going to investigate the crash reason. Thank you for letting me know.

[2020-07-21 12:54] vinifmor commented on #131
To investigate a possible a bug, I would need the console logs. You can get them by resetting the bauh settings and launching it through the command line: `bauh --reset && bauh`

[2020-07-21 12:56] vinifmor commented on #132
@lfom , I'm going to check here. Thanks for letting me know.

[2020-07-21 18:28] lfom commented on #131
No errors at all (the warning is harmless AFAIK, related to Wayland):

[code]

It just stays in this state for a loooooong time:
![Screenshot from 2020-07-21 14-58-37](https://user-images.githubusercontent.com/15659999/88092430-d8a4c080-cb66-11ea-8286-a80641ce1c82.png)

[2020-07-21 18:58] vinifmor commented on #131
On my testing machines it generally maps everything in less than 30 seconds on the first time.  But I'm going to check the algorithm to see if it can be improved.

[2020-08-06 04:57] MattMattV commented on #131
If it can help, on my system it took ~6 minutes and it stayed a long time on the "Read: 0/2306" too

[2020-08-10 23:38] vinifmor commented on #131
guys, please post your CPU specs. I'm testing even on limited virtual machines and the process takes less than a minute.

[2020-08-11 07:41] MattMattV commented on #131
My work tower where the long index time was experienced use a `Intel Xeon E5-2630 v4 @ 3.100GHz`

[2020-08-11 13:15] vinifmor commented on #131
ok, so it might be related to the amount of files installed by each package. I'm going to test a different algorithm strategy to try improving this first data organization task.

[2020-08-11 13:35] MattMattV commented on #131
I can provide you the list of package if you want to to some reproduction (:

[2020-08-11 15:02] vinifmor commented on #131
It's ok for now. If I need them, I'm going to ask for you later. By the way, are you guys using SSDs for storage ?

[2020-08-11 18:55] lfom commented on #131
HDD here, but if IIRIC I didn't see any disk activity (the notebook has a HDD activity led) during the wait. It was latest Manjaro Gnome version, if it makes any difference.

[2020-08-11 21:44] vinifmor commented on #132
@lfom , I've fixed this issue on the staging branch. Could you give me a feedback if its working on your end ? (you can install it through AUR as **bauh-staging** -> 0.9.7.RC-3)
![appimage_fix](https://user-images.githubusercontent.com/4312414/89951932-af75ce00-dc02-11ea-8cf7-8d44a5a64b08.png)

[2020-08-11 21:47] vinifmor commented on #128
I'm enforcing this path on the staging branch. Please, give me a feedback if the warning message has gone. You can install it through AUR as **bauh-staging** (0.9.7.RC3)

[2020-08-12 12:26] vinifmor commented on #131
Actually this step performs a lot of reading (it analyses the installed files of each package for caching purposes). As I have no HDD to test, I'm going to try performing less reading during this step to reduce its execution time.

[2020-08-12 15:00] vinifmor commented on #130
Guys, I've fixed the issue. It is already on the staging branch -> https://github.com/vinifmor/bauh/commit/a02741284266176ef6de2c50252859eec454f450

In a few hours I'm going to publish to AUR (**bauh-staging** -> 0.9.7.RC-4)

[2020-08-14 00:35] TiLiNfIV commented on #130
Cool! I won't be able to test though as I've upgraded the problematic package manually since then.

[2020-08-23 13:31] xorpix opened #133 "List index out of range exception when trying to upgrade packages"
**Describe the bug**
So, when i press a bauh icon, it launches normally. Asks a password, refreshes data base and shows availbale updates. But as soon as i press "Upgrade" or try to upgrade one of them i get the next exception:
`Traceback (most recent call last):
  File "/usr/lib/python3.8/site-packages/bauh/view/qt/thread.py", line 381, in run
    requirements = self.manager.get_upgrade_requireme

[2020-08-24 07:34] MattMattV commented on #131
Just tried with `0.9.7.RC-9` and it took around 20 seconds ! Thank you very much for this great work !

[2020-08-24 12:55] vinifmor commented on #131
No worries. Let me know if any other issue shows up. I'm trying to make this next release as solid as possible.

[2020-08-24 12:56] vinifmor commented on #130
No worries. If it happens again, let me know.

[2020-08-24 16:55] lfom commented on #132
Sorry for the delay, but I don't have access to the same machine as of now. I can test with another installation once the new version is released so the bug can be closed.
Regards

[2020-09-06 04:27] vinifmor commented on #90
@Kadir95 , I've just published this feature to the staging branch. If you are on Arch-based distro you can install it through AUR (**bauh-staging** -> 0.9.7.RC-15).

This feature is not enabled by default. You will have to enable it through the Snap settings:

![snap_config](https://user-images.githubusercontent.com/4312414/92318271-fd9ea700-efdf-11ea-819e-895a317ee991.png)

![snap_channels](https

[2020-09-11 21:55] #133 closed

[2020-09-11 21:56] #132 closed

[2020-09-11 21:56] #131 closed

[2020-09-11 21:57] vinifmor commented on #130
This issue will be closed for now. If the problem happens again, please reopen it.

[2020-09-11 21:57] #130 closed

[2020-09-11 21:57] #128 closed

[2020-09-11 21:57] #90 closed

[2020-09-12 15:03] kreezxil commented on #128
oh snap forgot to mention that I stopped using the stage branch. I'll
switch back to it. heads up tho, the main branch says it still. but i've
just learned to ignore it.

On Fri, Sep 11, 2020 at 4:57 PM Vinícius Moreira <notifications@github.com>
wrote:

[2020-09-12 22:59] vinifmor commented on #128
@kreezxil , now the stable (0.9.7) and staging (0.9.7.RC-17) packages have the same code.

[2020-09-13 14:02] kreezxil commented on #128
ok nice

On Sat, Sep 12, 2020 at 5:59 PM Vinícius Moreira <notifications@github.com>
wrote:

[2020-09-17 13:10] kanopeld opened #135 "Suggestion: automatic parse '--classic' error and reinstall with --classic flag for snap packages"
Error is:
[code]

The best solution in this situation is to ask the user if he wants to install the application with the --classic flag and reinstall with --classic flag

[2020-09-17 14:16] vinifmor commented on #135
Which bauh's version are you currently using ?

[2020-10-02 10:03] perrsona1234 opened #136 "Support for PinePhone?"
Hello.

I recently got my PinePhone (https://www.pine64.org/pinephone/) and I installed Arch Linux with Phosh (https://developer.puri.sm/Librem5/Software_Reference/Environments/Phosh.html) on it and I tried to use Your application. I installed it from the AUR via the `bauh` package.

It works well, but the UI is literally unusable in portrait mode and kinda usable in landscape. Would it be possibl

[2020-10-02 12:14] vinifmor commented on #136
Hello, @perrsona1234. It is nice to see that bauh at least renders on ARM. I currently have no ARM device to test upon, but I'm going to have a look at **libhandy**. In the meantime, try to downscale the app through the Interface settings and see if it helps.

![bauh_scale](https://user-images.githubusercontent.com/4312414/94921804-5ce0c180-048f-11eb-8e67-3c7aeb2aa7c7.png)

[2020-10-02 12:29] perrsona1234 commented on #136
Downscaling via Interface settings doesn't work. No matter what value I put there it reverts it back to the default 100%.

[2020-10-02 12:37] vinifmor commented on #136
Try to edit the value instead of clicking the arrows. I'm going to unlock the down arrow to work with values less than 100. If you can also change through the setting file directly (~/.config/bauh/config.yml)

[2020-10-03 09:25] AWHubGit opened #138 "two numbers right above actions/settings/about"
I use bauh 0.9.8 on Arch Linux x86_64 Kernel: 5.8.13-arch1-1 GNOME 3.36.6.

There are two numbers right above actions/settings/about. They appear only after fresh start of bauh. A refresh or clicking on Apps makes them disappearing. What do these numbers reflect/mean? Why do they appear only on fresh start of bauh? What does the second number mean? Is the total of all apps plus libraries etc.? Ple

[2020-10-03 17:04] vinifmor commented on #138
Hello, could you post a picture of these two numbers showing up ? I've never seen them on KDE and XFCE (it may be specific to Gnome).

When you suggest a table per definition, you mean a tab with an application tab per software type (Snap, Flatpak, ..) ?

I'm currently working with the overall style. I'm going to consider what you commented about the grey icon.

[2020-10-04 07:38] AWHubGit opened #139 "Suggestion: integrate rebuild-detector into bauh"
I love bauh! I was finally able to install ntopng by uninstalling and recompiling with bauh.
https://bbs.archlinux.de/viewtopic.php?id=33559
hiredis was updated, so needed to recompile ntopng.
With bauh recompiling was very easy. Excellent.

Here
https://bbs.archlinux.de/viewtopic.php?id=33080
it's suggested to use rebuild-detector
https://github.com/maximbaz/rebuild-detector
if a lot of AUR packa

[2020-10-04 08:47] AWHubGit commented on #138
[https://i.imgur.com/XN4yBxi.jpg](url) with numbers
[https://i.imgur.com/MNAstVG.jpg](url) without numbers
strange behaviour. Do not understand it.

To see (a list of) all the apps of all categories and all types I have to put a number in ->settings->interface->"applications displayed"  equal or greater than the total of my apps installed. For this I have to know/estimate the total of all my apps.

[2020-10-04 23:46] vinifmor commented on #139
It would be very useful indeed. I'm going to add this suggestion to the backlog and think about the best to way to implement it.

[2020-10-04 23:53] vinifmor commented on #138
I'm not able to open the picture links. Could you post them again ?

Related to the second topic, set the Max Displayed to 0. It means no limit. I'm going to update the README and the property tip.

[2020-10-05 02:11] AWHubGit commented on #138
[https://i.imgur.com/MNAstVG.jpg](url)
[https://i.imgur.com/XN4yBxi.jpg](url)
or just copy the text https://i.imgur.com/XN4yBxi.jpg https://i.imgur.com/MNAstVG.jpg not the hyperlink beyond/behind.

[2020-10-05 13:25] vinifmor commented on #138
Alright.. now I got it. These two numbers (10/100) mean the number of applications currently displayed on the table by the number of applications available. I'm going to add a tip to them explaining their meaning.

This behavior of not displaying them is odd. It has never happened to me before. Try launching bauh through the command line (`bauh`) and see if any error message is displayed when thes

[2020-10-06 08:21] AWHubGit opened #140 "Homebrew on Linux"
Please integrate Homebrew on Linux
[Homebrew on Linux](https://docs.brew.sh/Homebrew-on-Linux)

The Homebrew package manager may be used on Linux and Windows Subsystem for Linux (WSL).

With WSL you can even reach Windows!

[Homebrew-on-Linux features](https://docs.brew.sh/Homebrew-on-Linux#features)

Use the same package manager to manage your macOS, Linux, and Windows systems.

Bauh should do/ha

[2020-10-06 13:47] stefanhusmann commented on #139
There is not much to integrate. rebuild-detector acts as pacman hook, so it should be enough to just show pacman's output after installing.

[2020-10-07 15:24] vinifmor commented on #139
Perhaps bauh could only display on the "Upgrade summary" the packages tp be rebuilt. I'm going to have a deeper look at this tool and see what sort of integrations could be done besides the console output.

[2020-10-17 17:14] perrsona1234 opened #141 "[SUGGESTION] Dark mode for bauh?"
Hello.
Dark mode would be a nice addition to this tool, because I (and maybe most people out there) have all my system configured to use dark modes/themes/colors everywhere and `bauh` stands out from the crowd, like a sore thumb.
Thank You for all Your work.

[2020-10-18 02:02] vinifmor commented on #141
Hi @perrsona1234 , I'm currently working exactly on that for the next minor release (0.9.9). It should be available soon.

[2020-10-18 02:03] vinifmor commented on #141
By the way, what desktop environments are you currently using ?

[2020-10-18 09:17] perrsona1234 commented on #141
Currently I'm using Cinnamon DE.

[2020-10-25 03:36] Lennox84 opened #142 "Trouble installing on Kubuntu"
This isn't a bug as much of maybe me needing for help being a novice. I have installed with pip3 and can run bauh but I can't figure out how to add the Appimage ability. I know it has a GEMS title I can't see how to "install" GEMS (All I can find is GEMS are a ruby thing but can't see how that's useful to what I'm trying to do.

My install only allows me to install and update Snap. I really love b

[2020-10-25 18:31] vinifmor commented on #142
@Lennox84 , probably your Kubuntu is missing the AppImage required dependencies (there is a subtopic on the AppImage section). The package names vary from distro to distro, but what you need installed are **sqlite** and **wget**. As the project aims to react according to what is installed on your system, these packages cannot be marked as hard dependencies.

[2020-10-26 11:51] Lennox84 commented on #142
WooHoo!!! You absolute legend!

It was as easy as that, installed those 2 packages... well wget was already there so after sqlite installed I ran bauh and bingo, appimages available to install.

So just a thought but if bauh ran a check on 1st run, couldn't it detect what was missing if the user maybe wanted to access a feature and offer a list for the user to download?

-- 1st run bauh
--Check on

[2020-10-26 11:51] #142 closed

[2020-10-26 12:53] vinifmor commented on #142
Great! I'm planning a sort of "warning" on the settings window (for instance, display the package type icon with a warning. And if you let your mouse over it, it would display "missing dependencies x, y, z". The trouble is: every distro has a specific name for each package. But it will be implemented in the future for sure.

Cheers

[2020-11-10 19:44] perrsona1234 commented on #141
Would it be also possible to implement a dark mode for webapps created with bauh?

[2020-11-10 20:06] vinifmor commented on #141
bauh currently relies on nativefier to generate the WebApps. The current supported version (7.7.1) has a dark mode feature, but only for MacOSX. Perhaps in the future (I have to test the most recent version to check Linux support).

[2020-11-17 11:40] kanopeld commented on #135
bauh 0.9.8

[2020-11-25 14:31] Lvaskz opened #144 "package bauh as appimage"
Hi, maybe you know all this advantages , but for beginners is much easier download and run an appimage.
thanks
Providing an AppImage would have, among others, these advantages:
**Applications packaged as an AppImage can run on many distributions (including Ubuntu, Fedora, openSUSE, CentOS, elementaryOS, Linux Mint, and others)**

1. One app = one file = super simple for users: just download one Ap

[2020-11-25 18:38] vinifmor commented on #144
Hi @Lvaskz , I tried last year but was having some issues with non-Debian distros. I'm going to add this task to the backlog again. Help is welcome.

Cheers

[2020-11-26 03:56] Lvaskz commented on #144
Thanks, maybe with this new tool can help ?
https://github.com/TheAssassin/appimagecraft

[2020-11-26 20:31] PrzemekSkw opened #145 "No appimages on Ubuntu 20.04"
Hello, I install Bauh on Ubuntu with `pip install bauh`. I have all dependiences installed. I uninstall Appimage Launcher and reboot laptop. I run Bauh from command line:
[code]
[code]
There're only Flatpaks and Web apps in Bauh.

Regards,
Przemek

[2020-11-27 11:55] vinifmor commented on #145
It seems to be a bug. I'm going to have a look here.  Regarding to AppImages, do you have **sqlite3** installed ? It's one of the required packages for AppImage support. Have a look at the [AppImage gem section](https://github.com/vinifmor/bauh#appimage-appimage) (there is a subtopic called **Required dependencies**).

[2020-11-27 17:28] vinifmor commented on #145
Please, post here the results of the following commands:
- `flatpak --version`
- `flatpak update --user`
- `flatpak update --system`

P.S: do not follow with these operations so we can check later if the fix is going to work on your end

[2020-11-27 22:10] vinifmor commented on #144
I'm going to have a look here. Thanks for the tip.

[2020-11-27 22:18] vinifmor commented on #141
@perrsona1234 , the theming feature is ready. I've just released a new RC (0.9.9.RC-4) to the staging branch on AUR (**bauh-staging**). This new version features 2 dark themes by default:

- Darcula
<p align="center">
<img src="https://raw.githubusercontent.com/vinifmor/bauh-files/master/pictures/releases/0.9.9/darcula.png">
</p>

Sublime
<p align="center">
<img src="https://raw.githubusercontent.

[2020-11-29 14:47] perrsona1234 commented on #141
I'm not on Arch, so I can't test it. But it looks dope, great work! Thanks :D

[2020-12-02 09:44] nigelwarning opened #146 "Bauh not starting"
**Describe the bug**
I installed bauh from the AUR, also tried bauh-staging, but both have some problems. Bauh won't open when you start it.
When you try running it from terminal it returns:

`Traceback (most recent call last):
  File "/usr/bin/bauh", line 33, in <module>
    sys.exit(load_entry_point('bauh==0.9.8', 'console_scripts', 'bauh')())
  File "/usr/bin/bauh", line 22, in importlib_load_e

[2020-12-02 10:11] nigelwarning commented on #146
Fixed it. I enabled the chaotic-aur and in that one it doesnt work. The AUR standalone version does work.

[2020-12-02 10:11] #146 closed

[2020-12-02 11:12] nigelwarning opened #147 "Feature suggestion: Manage/Add Flatpak repositories"
Hey!

Bauh is working great. Love to have a application that works with Appimages, web-apps, snaps, flatpak, aur and repos.

I would love to have the option to add flatpak repos/manage them. I use KDE Plasma and I always use some beta KDE apps with this command:
flatpak remote-add --if-not-exists kdeapps --from https://distribute.kde.org/kdeapps.flatpakrepo

Would love to manage them in the featur

[2020-12-02 13:42] vinifmor commented on #147
@nigelwarning it is good to hear that bauh has been useful for you. Managing Flatpak repositories would be a good add for the tool. I'm going to add to the backlog.

Cheers

[2020-12-02 15:05] vinifmor commented on #141
Just released **0.9.9** on PyPi. I'm going to close this issue.

Cheers

[2020-12-02 15:05] #141 closed

[2020-12-02 15:06] vinifmor commented on #138
Available on **0.9.9**. I'm going to close this issue

[2020-12-02 15:06] #138 closed

[2020-12-02 15:07] vinifmor commented on #135
bauh automatically retrieves this info for every Snap and add the parameter if required. Are you still having issues ?

[2020-12-02 15:34] vinifmor commented on #135
![bauh-snap-classic](https://user-images.githubusercontent.com/4312414/100894018-c59de780-349a-11eb-8e45-1b6b1e5cf928.png)

[2020-12-02 16:31] AWHubGit opened #149 "no bauh anymore"
Arch Linux got a lot of updates [arch updates 02122020](https://github.com/AWHubGit/arch-updates_02122020/blob/main/index.txt)

Since then bauh doesn't start anymore:

bauh
Traceback (most recent call last):
  File "/usr/bin/bauh", line 33, in <module>
    sys.exit(load_entry_point('bauh==0.9.8', 'console_scripts', 'bauh')())
  File "/usr/bin/bauh", line 22, in importlib_load_entry_point
    for e

[2020-12-02 16:37] vinifmor commented on #149
Hello @AWHubGit , this issue is probably happening because the python version has been upgraded (from 3.8 to 3.9). Reinstalling bauh should solve this issue.

[2020-12-02 17:21] AWHubGit commented on #149
Hi vinifmor

upgrading bauh strictly according to the Arch Linux AUR Guidelines
[AUR Guides](https://wiki.archlinux.org/index.php/Arch_User_Repository#Installing_and_upgrading_packages)

"In the directory containing the package's PKGBUILD you must first update the files and changes by using the command
$ git pull
then run
$ makepkg -si
to update the package."

did the job.

Bauh 0.9.9 looks nice.

[2020-12-02 17:46] vinifmor commented on #149
@AWHubGit , bauh already does that.  This issue already happened to me when Python upgraded from 3.7 to 3.8. For some reason it did not transfer the Python packages from 3.X for 3.X+1.

Good to hear that you were able to fix the issue and the tool is working again.

Cheers

[2020-12-02 17:46] #149 closed

[2020-12-02 19:36] PrzemekSkw commented on #145
@vinifmor Hi, sorry for late answer.

[code]
Regards.

[2020-12-03 12:51] nigelwarning opened #150 "Feature suggestion: Select multiple packages to install/remove"
So, another one. But I would love to have the option to select multiple things and then install it.

I always install multiple things on a clean install on Arch, and the option to first choose a set of applications and then do a big install would be nice!

Same with removing packages :)

[2020-12-03 13:42] vinifmor commented on #150
@nigelwarning this feature is already on the backlog, but I'm going to let this issue open to let people know.

[2020-12-04 09:45] AWHubGit commented on #149
In a follow-up I parsed on my Arch Linux through the directory aur where all installed AUR packages are in. For all AUR packages I did a "git pull" and a "makepkg -si" (as per guidelines). There were other/further AUR packages not updated.

bauh should check for all AUR packages installed and throw (at least) warnings if not up to date.

[2020-12-04 12:13] vinifmor commented on #149
This pacman hook you mentioned in the following issue [#139](https://github.com/vinifmor/bauh/issues/139) seems to check for upgraded programing languages and automatically recompiles packages that were previously built with different versions. As bauh just calls pacman, it should work for this scenario. I'm going to test it here.

[2020-12-04 14:56] vinifmor commented on #149
@AWHubGit , now I got what you meant.  I thought was related to recompiling packages associated with Python or other programming languages. Today bauh only checks through the AUR Rest API. And you are right, for some cases, this method does not feet since not all packagers use the same version pattern. Please, open this thread as another issue.

[2020-12-05 13:05] gobonja opened #151 "Improvement: update appimage without password prompt"
Hi,

When updating appimage password prompt is displayed which is unnecessary.

Also on first appimage install there is no password prompt (as it should be).

Best regards

[2020-12-05 15:07] gobonja opened #152 "Bug: appimage desktop files missing Exec params"
Exec params like fiedcodes (**%f** or **%u**), **--new-window**  etc are removed when parsing **Exec** value in desktop file.

This results in problems like opening external links in firefox.

Instead of replacing whole text with easiest solution might be to take text from **Exec=** to the first blank space and replace it with appimage path.

Best regards

[2020-12-05 22:44] vinifmor commented on #151
Indeed. I'm going to add to the backlog.

Best regards

[2020-12-05 22:45] vinifmor commented on #152
I'm going to have a look here. Thanks for sharing this issue.

Best regards

[2020-12-07 21:58] vinifmor commented on #49
Done. You can now choose this new option on the installation window:
    <p align="center">
        <img src="https://raw.githubusercontent.com/vinifmor/bauh-files/master/pictures/releases/0.9.10/widevine.png">
    </p>

I've just published an RC to AUR (package: **bauh-staging**. version: **0.9.10.RC-1**)

[2020-12-07 23:04] freddii opened #153 "not possible to install flatpaks by file extension .flatpakref"
I click on "install" at:
https://flathub.org/apps/details/org.gaphor.Gaphor

Then it is downloading the file:
 https://dl.flathub.org/repo/appstream/org.gaphor.Gaphor.flatpakref

It is not possible to open this file with bauh.
At the moment it is not possible for me to install a file from webbrowser (https://flathub.org/apps) with bauh.

**Software Environment**
bauh version: bauh 0.9.9
O.S: Debia

[2020-12-08 11:35] vinifmor commented on #153
Hi @freddii , thanks for the suggestion. It will be added to the backlog.

[2020-12-08 22:01] vinifmor commented on #152
@gobonja , I've just published the fix to the staging branch. Could you give me a feedback if it is working ? It is available on AUR as **bauh-staging** (0.9.10.RC-2)

[2020-12-08 22:16] gobonja commented on #152
@vinifmor I can confirm that it is working in bauh-staging (0.9.10.RC-2)

Great work as always!

[2020-12-09 11:33] vinifmor commented on #152
Great! Thanks for the feedback @gobonja

[2020-12-10 22:22] vinifmor commented on #151
@gobonja , fixed in staging. Already available in AUR (bauh-staging, 0.9.10.RC-3). If you have any trouble with this RC, let me know.

[2020-12-10 22:43] gobonja commented on #151
@vinifmor Works like a charm.

Thanks a lot!

[2020-12-11 13:15] vinifmor commented on #151
Great! Thanks for the feedback.

[2020-12-11 16:08] #152 closed

[2020-12-11 16:08] #151 closed

[2020-12-11 16:08] #49 closed

[2020-12-11 16:09] #135 closed

[2020-12-11 17:19] #31 closed

[2020-12-12 10:43] Lennox84 opened #155 "Can only load appimage from within bauh. Not from DE Application Launcher"
**Before opening a new issue**
Install the **staging** branch and check if the unexpected behavior is happening there as well.
If you are on ArchLinux-based distro, you can install it through AUR (**bauh-staging**). Otherwise, you have
to clone the repository and install it with pip:
[code]

**Describe the bug**
Appimage will install fine but it seems and cant be found in application launcher i.e.

[2020-12-12 11:58] vinifmor commented on #155
Hi @Lennox84 , thanks for sharing this issue. I'm going to have a look here. It can be a regression.

[2020-12-12 12:29] vinifmor commented on #155
This issue is happening because now bauh respects the **Exec** command defined in the original desktop entry of the AppImage.
RPCS3 does not face this issue. Anyway,  I'm going to add a solution for such cases to not harm the overall experience. Thanks again for the quick feedback.

[2020-12-12 12:46] Lennox84 commented on #155
Not a problem.
Glad you could discover the issue so quickly.

Amazing work as always Vin 💪

On Sat, 12 Dec 2020 at 23:29, Vinícius Moreira <notifications@github.com>
wrote:

[2020-12-12 12:59] vinifmor commented on #155
Thanks @Lennox84 . Issue already fixed. Please, try the **staging** branch again, and let me know if it is working now.

P.S: you need to reinstall these AppImages so bauh can regenerate the desktop entries.

[2020-12-12 19:45] Lennox84 commented on #155
Legend! Thanks.
I'll try it out later today and get back to you here 🤙🤙

On Sun., 13 Dec. 2020, 12:00 am Vinícius Moreira, <notifications@github.com>
wrote:

[2020-12-14 07:44] Lennox84 commented on #155
Hi Vin,

Really sorry to be such a noob but now that I'm in Fedora and not Manjaro... How do I try the staging branch? Pip will install master no?

I'm following the Manual install instructions you have.
Cheers for your help

[2020-12-14 08:16] Lennox84 commented on #155
Hi Vin,

Really sorry to be such a noob but now that I'm in Fedora and not Manjaro... How do I try the staging branch? Pip will install master no?

I'm following the Manual install instructions you have.

[2020-12-14 08:17] Lennox84 commented on #155
Nevermind, figured it out WooHoo!!

All good, works like a charm.

Thanks
Vin!!

[2020-12-14 13:18] vinifmor commented on #155
Great! I'll let this issue open for now until the final release is ready (so people can check if the problem is already reported).

Cheers

[2020-12-16 11:36] gobonja opened #156 "[Bug] appimage updates with continous releases are not getting registered"
Hi,

Appimages such as firefox has 4 tags under which updates are released and they are not gettng registered. However if I uninstall and install, again new version is installed.

[Firefox-Appimage](https://github.com/srevinsaju/Firefox-Appimage/releases)

I suppose bauh currently checks tags for releases.

Best regards

[2020-12-16 13:16] vinifmor commented on #156
Hi @gobonja , I have to check out how AppImage Hub database deals with Firefox. I believe it just maps the stable version.

[2020-12-16 13:18] vinifmor commented on #156
I know how to handle this. I'm going to change the upgrade script to publish "stable" releases as "stable-{date}", so bauh will be able to detect the updates.

[2020-12-16 13:56] vinifmor commented on #156
Done. In a few a hours the AppImage database will be updated with this change. Give me a feedback if it works on your end.

[2020-12-16 14:09] gobonja commented on #156
Sure will. Thanks!

[2020-12-16 16:06] gobonja commented on #156
@vinifmor just go an update notification, updated it and it is working.

Thanks again!

[2020-12-16 17:38] vinifmor commented on #156
No worries. Thanks for sharing this issue. I'm going to close it now.

[2020-12-16 17:38] #156 closed

[2020-12-17 12:48] nigelwarning opened #157 "Flatpak system wide install fails"
**Describe the bug**
When I do a normal 'Flatpak install' in the terminal, it by default installs the flatpak system wide. During the install it will ask for a password, because it is a system install.
When I want to do a system wide install for the Flatpak 'Evolution' for example in Bauh, it doesn't work, because it won't ask for a password, so that means it can't install it. The bauh terminal th

[2020-12-17 16:54] vinifmor commented on #157
@nigelwarning , what's you Flatpak version ? This seems to be a new behavior on the latest Flatpak versions. I'm going to have a look here.

[2020-12-17 17:31] vinifmor commented on #157
@nigelwarning , I've just tried to install two Flatpaks at the system level with bauh and had no issues. My Flatpak version is 1.9.2.

I'm going to attach the logs if you want to have a look:
[flatpak_gedit.tar.gz](https://github.com/vinifmor/bauh/files/5711120/flatpak_gedit.tar.gz)
[flatpak_atom.tar.gz](https://github.com/vinifmor/bauh/files/5711122/flatpak_atom.tar.gz)

[2020-12-17 22:46] nigelwarning commented on #157
I have the same problem with that one.

[2020-12-17 22:57] nigelwarning commented on #157
Nevermind fixed it. I did something wrong in my Arch install and I was not in the 'wheels' group. Oops. Now works!

[2020-12-18 12:15] vinifmor commented on #157
No worries. I'm going to close the issue then.

[2020-12-18 12:15] #157 closed

[2020-12-18 22:33] vinifmor commented on #145
@PrzemekSkw , I've pushed a possible fix on the staging branch. Could you give me a feedback if it does not crash anymore ?
[code]

[2020-12-19 12:19] PrzemekSkw commented on #145
Hi, @vinifmor thanks it don't show any errors but still don't have appimages.
[code]

Regards,
Przemek

[2020-12-19 19:31] vinifmor commented on #145
@PrzemekSkw , is the AppImage type option displayed on the settings window ?

![bauh_settings](https://user-images.githubusercontent.com/4312414/102697818-8fd95c80-4217-11eb-90f0-477c6772b01d.png)

[2020-12-19 21:42] PrzemekSkw commented on #145
@vinifmor as I said before I have only flatpak and web apps in Bauh.
![Zrzut ekranu z 2020-12-19 22-39-39](https://user-images.githubusercontent.com/25219988/102700170-63d7ce80-424b-11eb-878d-b5d260241470.png)

[2020-12-20 12:24] vinifmor commented on #145
Since the AppImage option does show up, you are probably missing the **sqlite3** dependency.

[2020-12-22 06:11] PrzemekSkw commented on #145
@vinifmor Yes, that's it. I missed Appimage deps. Thanks You.

[2020-12-22 06:11] #145 closed

[2020-12-22 19:03] RoestVrijStaal opened #158 "Not able to edit PKGBUILDs"
Bauh v0.9.8
Manjaro Linux 20.2

So I ticked "Edit PKGBUILD"-radio button to "Yes" (Actually it does not matter if choosing "Yes" or "Ask", because both result in an asking dialog) and marked an random AUR package as PKGBUILD-editable. However, No option to invoke an editor to edit the package's PKGBUILD pops up nor the Text Area within the "Package Info Dialog" is editable.

What am I doing wrong?

[2020-12-22 21:29] vinifmor commented on #158
Hi @RoestVrijStaal , the editor is only opened when you try to install a new package or upgrade/dowgrande a package marked as "PKGBUILD editable".

[2020-12-22 21:48] RoestVrijStaal commented on #158
@vinifmor First thank you for your explaining answer.

I hoped that I could be able to "kick" an AUR-installed package to a new upstream version via bauh when its AUR-maintainer is absent for weeks.

I could send a feature request for bauh. But still even then I need to figure out a different way to achieve the same for the time being 😅

[2020-12-23 11:42] vinifmor commented on #158
@RoestVrijStaal I'm not sure if you actually could do it. AUR has some policies that must followed.

Just a tip: use the bauh version from AUR. I personally keep it.  It seems your distro maintainers are not updating the package (latest version is **0.9.10** and I'm going to publish **0.9.11** before the year ends).

[2020-12-24 12:14] gobonja opened #159 "[Bug] firefox appimage is always downloading nightly version"
Hi,

Not sure what happened here but I think they changed release tags. So now it always downloads nightly version.

![image](https://user-images.githubusercontent.com/26535797/103087843-1fe91e80-45e9-11eb-9a65-3ab3188e1dbf.png)

Tested on both bauh and bauh-staging.

Best regards

[2020-12-24 12:55] vinifmor commented on #159
Hi @gobonja , thanks for sharing this issue. I'm going to have a look here.

Regards

[2020-12-24 14:01] vinifmor commented on #159
@gobonja , already fixed. In a few hours the database should be updated.
![firefox_bauh](https://user-images.githubusercontent.com/4312414/103092817-469e5980-45d7-11eb-9adf-dce442c2b166.png)

Please, give me a feedback later.

[2020-12-24 14:02] vinifmor commented on #159
Click on the info button button (?) to check the file.

[2020-12-24 16:19] gobonja commented on #159
Works like a charm!

Thanks again

[2020-12-25 12:22] vinifmor commented on #159
No worries... thanks for sharing this.

[2020-12-25 12:22] #159 closed

[2020-12-30 21:08] #158 closed

[2020-12-30 21:08] #155 closed

[2021-01-11 15:00] Predatux opened #161 "Recommendation: Rename installed appimages."
I have found something that I think should be changed. For example, I have an appimage installed called "firefox", and I have created a launcher for that application, and I have indicated to the system that this application should open automatically at system startup, or that I look for it in the applications panel. The way to update from bauh is to rename the new appimage to "firefox (1)". When d

[2021-01-11 15:06] Predatux opened #162 "Suggestion. Could you bauh create an appimage from a package installed on the system?"
Suggestion. Could you bauh create an appimage from a package installed on the system?
I have not found any simple way to create an appimage package. I would like to know if it is possible to automate a way to create an appimage from a package installed on the system.

[2021-01-11 21:11] vinifmor commented on #162
Hi @Predatux , unfortunately create AppImages is not a simple process and demands human interaction to be properly done. Bauh just adds features that demand little or none human interaction. Thanks for the suggestion anyway.

[2021-01-11 21:11] #162 closed

[2021-01-11 21:15] vinifmor commented on #161
Hi @Predatux , this behavior is strange. Bauh automatically generates a Desktop Entry for AppImages that were installed through it and does not rename the added entries unless there is an previous existent one. Anyway, I'm going to review this scenario here. Thanks for reporting.

[2021-01-12 01:53] rezad1393 opened #163 "why does the app ask for password for user ( not system wide ) installed flatpak apps?"
why does the app ask for password for user ( not system wide ) installed flatpak apps?
version : 0.9.11
os: archlinux

[2021-01-12 13:14] vinifmor commented on #163
Hi @rezad1393 , could you explain your scenario better ? (did it ask for you password when trying to install a new Flatpak at the user level ?)

I've just tested here, and installed a Flatpak at the user level without any password prompt. Bauh only asks for you password if a given task requires it (e.g: sync package databases when Arch support is enabled)

[2021-01-12 14:13] rezad1393 commented on #163
sorry I forgot to put update at the end.
when I run this app it refreshes apps and shows me the list of upgradable flatpak apps.
when I press the upgrade button it asks for root password.
but using command line update from flatpak update doesnt need root password. (I dont have any system-wide installed flatpaks)

[2021-01-12 17:10] vinifmor commented on #163
@rezad1393 , I've just tested upgrading a Flatpak at the user level, and bauh did not ask for my password. Perhaps you were about to upgrade other types of packages together that required password ? (like Arch or Snap packages)
e.g:
- gedit (flatpak/user): 1.0 -> 2.0
- firefox (arch): 2.0 -> 3.0
- vlc (snap): 1.1 -> 1.2

A simple test that can be done on your end is to downgrade a Flatpak at the u

[2021-01-12 17:24] rezad1393 commented on #163
I used your app to try to test with downgrade flatseal app then used upgrade and sure enough it asks for password.
I checked the setting and I have only selected flatpak to be managed by bauh and archlinux and appimages are not selected.

I removed the bauh config folder and run bauh and at the start it asked for root password.
then I removed the arch and appimage from options and now it seem to h

[2021-01-12 17:24] #163 closed

[2021-01-13 10:07] Flash1232 opened #164 "Bauh crashes on upgrading apps"
**Before opening a new issue**
Install the **staging** branch and check if the unexpected behavior is happening there as well.
If you are on ArchLinux-based distro, you can install it through AUR (**bauh-staging**). Otherwise, you have
to clone the repository and install it with pip:
[code]

**Describe the bug**
Bauh crashes when upgrading all checked applications. It happens only in conjunction w

[2021-01-13 10:34] Predatux commented on #161
![Bauh](https://user-images.githubusercontent.com/1749641/104440820-1c670880-5593-11eb-8265-036119459573.png)
![Bauh 2](https://user-images.githubusercontent.com/1749641/104440898-3acd0400-5593-11eb-95de-a097d950a0d2.png)

[2021-01-13 10:35] Predatux commented on #161
It is possible that some appimage was already installed through the conventional method

[2021-01-13 11:12] vinifmor commented on #164
@Flash1232  thanks for reporting the issue. I'm going to investigate the cause and publish a fix ASAP.

[2021-01-13 11:14] vinifmor commented on #161
Thanks for the information. I'm going to test this scenarios as well.

[2021-01-13 12:47] PrzemekSkw commented on #164
Hi, I have the sam problem on EndevourOS [archlinux].
Python 3.9.1

In terminal after click upgrade in bauh:
[code]
Regards.

[2021-01-13 13:39] vinifmor commented on #164
@Flash1232 @PrzemekSkw , I've just publish a possible fix for this issue on the staging branch. It is already available in AUR (**bauh-staging**). Please, give me a feedback if its working on your ends.

[2021-01-13 14:41] vinifmor commented on #161
@Predatux , I've tried some scenarios here within KDE Plasma and Cinnamon and could not reproduce the behavior. I believe it has something to do with your desktop environment caching (Gnome, right ?).

To check the correct bauh behavior, try the following:
1. Locate the bauh desktop entry generated for your AppImage (it is stored ~/.local/share/applications following the standard **bauh_appimage_m

[2021-01-14 04:50] AWHubGit opened #165 "missing input/interaction for resolving conflicts"
I get this message from bauh:
resolving dependencies...
looking for conflicting packages...
:: pulseaudio and pipewire-pulse are in conflict. Remove pipewire-pulse? [y/N] error: unresolvable package conflicts detected
error: failed to prepare transaction (conflicting dependencies)
:: pulseaudio and pipewire-pulse are in conflict

Nothing else happens.

What can I do? No input possible for "yes or

[2021-01-14 10:25] Flash1232 commented on #164
This is indeed fixed in the latest staging release (at least for me). Thanks so much! :smiley:

[2021-01-14 11:03] PrzemekSkw commented on #164
@vinifmor Hi, I have checked on my Ubuntu Laptop at home and everything is OK. I cannot check my arch laptop because it is in work. Thanks in advance.
Regards Przemek.

[2021-01-14 11:31] vinifmor commented on #165
@AWHubGit , bauh already displays a dialog when there is a conflict (it may me a bug related to a specific scenario). For instance, this picture below shows the dialog when an user is trying to install **bauh** when **bauh-staging** is already installed:
![bauh_conflict](https://user-images.githubusercontent.com/4312414/104585318-9904f000-5642-11eb-88ae-a86e00683212.png)

What version of bauh are

[2021-01-14 11:33] vinifmor commented on #164
Great! Thanks for the feedback, @PrzemekSkw . I'm going to hold this issue open until the final 0.9.12 release.

[2021-01-15 21:04] vinifmor commented on #139
**rebuild-detector** is integrated in the **staging** branch (already available in AUR as **bauh-staging**). Packages requiring to be rebuilt will be marked to update. More details at :https://github.com/vinifmor/bauh/blob/staging/CHANGELOG.md#features

[2021-01-18 11:08] Predatux commented on #161
I have changed the default Appimages directory. I save them by default on a separate hard drive from the system. In my case, "/media/Software/Linux/AppImages"
I have tried to download the version as you have requested.
Attached screenshots.
![0](https://user-images.githubusercontent.com/1749641/104907758-de4c5900-5985-11eb-8902-82ac9dbdf3a7.png)
![1](https://user-images.githubusercontent.com/17496

[2021-01-18 11:10] Predatux commented on #161
![3](https://user-images.githubusercontent.com/1749641/104907948-15bb0580-5986-11eb-812a-3e245e3c7ad2.png)

[2021-01-18 12:47] vinifmor commented on #161
I'm not sure if I understood correctly how you manage you AppImages, but I'm going to explain how bauh manage an AppImage:

**Installation**
1. When an AppImage is requested to be installed, it will be stored at **~/.local/share/bauh/appimage/installed/new_appimage_name**. There you will find: the AppImage file, the application logo (e.g: logo.svg), and a file with the application data (data.json)

[2021-01-19 13:14] vinifmor opened #167 "[flatpak] crashing for Flatpak 1.10"
**Describe the bug**
Crashing for Flatpak **1.10**

**Software Environment**
bauh version: 0.9.11 / 0.9.12 (staging)
O.S: ArchLinux
Python version: 3.9
Installation method: yay

[2021-01-19 14:17] vinifmor commented on #167
Fix already published to AUR (**bauh-staging** -> **0.9.12.RC-11**)

[2021-01-19 17:44] #167 closed

[2021-01-19 17:45] #139 closed

[2021-01-19 20:23] Andriamanitra opened #169 "Missing dependency - ModuleNotFoundError: No module named 'packaging'"
Fix for #167 added a dependency which doesn't get installed automatically when following the manual installation instructions.

[code]

Running `bauh_env/bin/pip install packaging` fixes the issue.

[2021-01-20 12:09] vinifmor commented on #169
Hi @Andriamanitra , thanks for the quick feedback. I'm going to publish the fix ASAP.

[2021-01-20 13:02] vinifmor commented on #169
**0.9.13** released adding **packaging** to **requirements.txt**

[2021-01-20 13:02] #169 closed

[2021-01-20 21:15] SparkyCandle opened #171 "Multiple package selections to install"
It's cumbersome to install one software at a time. It would be nice if we can tick 2 or more packages to install at the same time. till then i have to do `yay package1 .... package10`
edited due spelling errors

[2021-01-21 12:57] vinifmor commented on #171
Hi @SparkyCandle , this feature is already on the backlog and was also suggested in [#153](https://github.com/vinifmor/bauh/issues/150). I'm going to close this one and associated with #150.

[2021-01-21 12:57] #171 closed

[2021-01-21 12:58] vinifmor commented on #150
#171

[2021-01-27 10:13] PrzemekSkw opened #172 "Polish translation"
Hi, I like Bauh very much and I want to help with polish language translation but I don't understand how to do that. Is it possible to make project in some easy translation platform?

Regards,
Przemek

[2021-01-27 11:54] vinifmor commented on #172
Hi @PrzemekSkw , at the moment an external translation platform is not a priority, but it will be added to the backlog.

To add the polish translations, you can follow the instructions on [CONTRIBUTING.md](https://github.com/vinifmor/bauh/blob/master/CONTRIBUTING.md#adding-a-new-translation) and open a PullRequest. If you have any doubt, let me know.

Regards

[2021-01-28 17:14] PrzemekSkw commented on #164
@vinifmor Hi, today I noticed problem in my Ubuntu. I see there's 0.9.11 version when I run bauh but when I install I see:
Successfully installed bauh-0.9.13.
First I upgrade, next I purge bauh and install fresh.
Regards,
Przemek

[2021-01-29 11:19] vinifmor commented on #164
@PrzemekSkw , I'm not sure if I understood the issue. Were you trying to upgrade bauh through the command line and it did not work properly ? (`sudo pip3 install bauh --upgrade`)

[2021-01-29 11:24] PrzemekSkw commented on #164
@vinifmor Yes, I also try to upgrade but I still have older version.

[2021-01-29 11:28] vinifmor commented on #164
@PrzemekSkw , it may be an issue with the Ubuntu's pip version. Does it work if you uninstall and reinstall it again ?
[code]

[2021-01-31 21:53] PrzemekSkw commented on #164
@vinifmor Hi, I make a screenshots:
![Zrzut ekranu z 2021-01-31 22-51-26](https://user-images.githubusercontent.com/25219988/106399135-2607c180-6417-11eb-914e-58a4026f1a20.png)
![Zrzut ekranu z 2021-01-31 22-52-24](https://user-images.githubusercontent.com/25219988/106399137-2902b200-6417-11eb-96b7-51dfdea5ee07.png)

[2021-02-01 12:02] vinifmor commented on #164
That's odd. It is updating fine on my Ubuntu machine. What are the outputs of `bauh --version` and `which bauh` ?

[2021-02-01 14:40] Flash1232 commented on #164
Might be unrelated to the previous issue, but I have another weird crash for the 'pdfsam' package when attempting to upgrade the app:
[code]
I can launch the package from within bauh without problems.
Specs as in first post except Bauh version is now `0.9.13-2`

[2021-02-01 14:54] PrzemekSkw commented on #164
[code]

[2021-02-01 15:59] vinifmor commented on #164
@Flash1232 , I'm going to have a look here.

@PrzemekSkw , great that your sorted the issue out.

[2021-02-01 20:48] vinifmor commented on #164
@Flash1232 , I've published a possible fix on the staging branch. It is already available in AUR (**bauh-staging**). Can you give me a feedback if it is working on your end ?

[2021-02-03 00:54] Flash1232 commented on #164
@vinifmor Thanks for your speedy response! Unfortunately the error still persists with `bauh-staging 0.9.14.RC-2`:
[code]

[2021-02-03 13:02] vinifmor commented on #164
@Flash1232 , no worries. Let's fix this. I've just pushed another possible fix to **bauh-staging**. Could you try it again ?

[2021-02-03 13:32] Flash1232 commented on #164
We're getting closer, at least it crashes only after the upgrade summary dialog now. :)
[code]

[2021-02-03 14:12] vinifmor commented on #164
@Flash1232 , just pushed another fix to **bauh-staging**. Could you print the response of the following commands here as well ?
[code]

[2021-02-03 14:20] Flash1232 commented on #164
[code]
Now bauh doesn't seem to crash anymore, and now there is a graceful exception and error dialog.

[2021-02-03 14:27] vinifmor commented on #164
@Flash1232 Were you able to upgrade your packages ?

[2021-02-03 14:29] Flash1232 commented on #164
I was able to upgrade the package with pamac, but not with bauh. Bauh would give me an error dialog and print `error: package 'pdfsam' was not found` to the console.

[2021-02-03 14:34] vinifmor commented on #164
I see. Well, this is odd. I'm going to perform more testing related to package upgrading to see if I find out the reason. But the crash is fixed at least.

[2021-02-03 14:38] Flash1232 commented on #164
Thanks a lot for your time and yeah it's great that the exception is now caught properly which is the main thing :)
Bauh is really great! I enjoy its sheer simplicity, customizability and speed.

[2021-02-03 14:45] vinifmor commented on #164
Thank you @Flash1232 . It's nice when people actually report the bugs instead of dropping the tool. bauh has to handle complex scenarios that are not always caught during testing. Thanks helping the project.

[2021-02-03 14:45] #164 closed

[2021-02-03 18:19] vinifmor commented on #164
@Flash1232 , just a doubt: do you have AUR manually added to pacman configuration files or only use it through bauh/pamac ?

[2021-02-03 19:17] Flash1232 commented on #164
I enabled AUR in both pamac and bauh, my `pamac.conf` has no AUR configuration.

[2021-02-03 19:25] vinifmor commented on #164
It can be a cache related issue. Try removing the Arch cache (`rm -rf ~/.cache/bauh/arch/installed`) and launch bauh to regenerate it. If you face the same upgrade problem in the future, open a new Github issue, please.

[2021-02-04 11:30] #165 closed

[2021-02-04 11:31] #161 closed

[2021-04-07 07:20] lfom opened #176 "qt5ct support gone?"
**Describe the bug**
Hello, again! Two small things:

1) There is no more support for _qt5ct_?

2) ~~Using the "default" theme breaks icons~~

**Software Environment**
bauh version: 0.9.16
O.S: Pop!_OS 20.10 (like Ubuntu 20.10)
Python version: 3.7.8
Installation method: pip

![2021-04-07_04-16](https://user-images.githubusercontent.com/15659999/113826337-6d346a80-9758-11eb-8513-2a3a07ebebeb.png)

[2021-04-08 11:37] vinifmor commented on #176
Hi @lfom, the main 3 style sheets provided (light, sublime, darcula) have some strict Qt rules that cannot be overwritten easily (some of them are possible, but you have to enable **System theme** on the **Interface** settings). The reason for that, is to provide a single look across different systems and Qt configurations.

The best way to customize the appearance is to provide your own theme. Ha

[2021-04-08 12:26] lfom commented on #176
I did not notice the menu to change the theme, so I was editing the config manually and I saw a folder named "default" in the repo, that is why I tried to use the theme. Probably it is just a support folder, right? So everything seems fine.

Enabling or disabling "System theme" does not seem to make any difference here, I was thinking it should make the app follow the system settings for Qt, but t

[2021-04-08 17:30] vinifmor commented on #176
No worries. Thanks for reporting you use case. Perhaps bauh could provide a theme called "system" that just grab the base style structure, merging with the system definitions.

[2021-04-08 17:47] lfom commented on #176
I am not sure about what System Theme was supposed to do (as I said, it does not seem to change anything here), but how about disabling builtin-in themes and use whatever QT_QPA_PLATFORMTHEME is defined when it is enabled and the use the themes and the two options of interface when it isn't? If you plan to implement this I can leave the issue open and test when it is released.

[2021-04-08 21:15] vinifmor commented on #176
I'm going to test this variable and see the impact. Let the issue open for now.

[2021-04-08 23:17] lfom commented on #176
Maybe this info helps:
- when it is not set, it uses the default theme (Fusion IIRIC)
- gtk2 is a buliltin option that tries to inherit the GTK theme but it is deprecated AFAIK
- the most common use is qt5ct, a configuration utility that can be uses to configure the theme, and one of its options if to use use the GTK theme

[2021-04-09 10:39] vinifmor commented on #176
Thanks @lfom

[2021-04-10 09:50] SamLukeYes commented on #117
As far as I know, `pacman-mirrors` is a Manjaro tool, and there's no way to install it on Arch Linux. A similar tool on Arch Linux is `reflector`.

[2021-04-10 10:38] vinifmor commented on #117
Thanks for sharing this @SamLukeYes . I will have a look on **reflector**.

[2021-05-12 18:10] arteze opened #178 "undefined symbol: _ZdlPvm, version Qt_5"
I have the following error when running bauh:

[code]
Python 3.9.5

How do I solve it?

[2021-05-12 19:36] arteze commented on #178
I have managed to overcome that problem, but now I have another error:

[code]

[2021-05-12 20:14] vinifmor commented on #178
Hi @arteze , it seems something related to your OS Qt 5 packages. I've never seen such error before.

[2021-05-12 20:37] arteze commented on #178
Exactly, in particular it seems to be some Qt5 Open GL plugin.

Is it totally necessary that bauh require `QtGui.abi3.so`? i can import Qt5 submodules and avoid their use?

[2021-05-13 03:32] arteze commented on #178
I've reinstalled bauh again, this time in another PuppyLinux session, but now I'm getting another error.

[code]

Python 3.5.1

[2021-05-13 03:43] arteze commented on #178
Again I was able to fix the above error. What I did was install `icu`... But another appears:

[code]

[2021-05-13 06:15] arteze commented on #178
I have returned to the initial error:

[code]

[2021-05-13 11:32] vinifmor commented on #178
Odd errors. You could post them in your distro forum to see if someone can give you a hand on that. I haven't got any issues with Arch and Ubuntu Qt5 packages.

[2021-05-13 19:51] arteze commented on #178
Well, I had another problem, which did not recognize the XCB plugin, when I wanted to fix it, I put on my black screen and I could not do anything else.

[2021-05-14 11:38] vinifmor commented on #178
You can try the [isolated installation](https://github.com/vinifmor/bauh#inst_iso) to see if these issues don't happen

[2021-05-14 15:47] arteze commented on #178
It worked perfectly ... The only problem was that I had to hex edit the following file.

`/root/bauh_env/lib/python3.9/site-packages/PyQt5/Qt5/lib/libQt5Core.so.5`

I have changed all the strings `_56` to `_67` to suit the version of Unicode I have.

![Screenshot(44)](https://user-images.githubusercontent.com/3245767/118295564-881e9b00-b4cb-11eb-8944-6312cb589de8.png)

With that it works perfect f

[2021-05-14 20:05] vinifmor commented on #178
Great. I'm going to let the issue open so other people can follow your steps

[2021-05-29 05:27] DN-debug opened #179 "AUR is no longer visible"
Hi @vinifmor,

**Description**
It don't know if it's a bug or a mistake from my end that I might have failed to see. I have tested the current version of Bauh [on both stable and staging].
The only problem is that AUR packages are no longer visible rest is working good as it should. However it was, in the previous versions.

The Bauh package is build from PKGBUILD taken from AUR. The optional depe

[2021-05-30 08:16] winuxwinfree opened #180 "AppImage database files were not found. Some actions will not work properly."
Error MSG: AppImage database files were not found. Some actions will not work properly.

Maybe it's because I launch the program from .local/bin instead of adding the PATH
I'm using debian.

 WARNING: The scripts pylupdate5, pyrcc5 and pyuic5 are installed in '/home/usuario/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --

[2021-05-30 08:23] winuxwinfree commented on #180
I don't know how to add bauh to PATH

[2021-05-30 08:34] DN-debug commented on #180
To add the path, you'd simply export it to the $PATH variable

`export PATH="path to your program":$PATH`

To check the paths, you would simply do: `echo $PATH`

Hope that helps.

[2021-05-30 09:00] winuxwinfree commented on #180
Thanks DN-Debug

This is what I put and I still have the problem:
export PATH="/home/usuario/.local/bin/bauh:$PATH"
Sorry for my ignorance.

[2021-05-30 09:26] winuxwinfree commented on #180
Thanks DN-Debug

This is what I put and I still have the problem:
export PATH="/home/usuario/.local/bin/bauh:$PATH"

Maybe some dependency is missing or I have to add some path before installing it. Python?

Dependences that I have:
sudo apt-get install python3 python3-pip python3-yaml python3-dateutil python3-pyqt5 python3-packaging python3-requests
sudo apt-get install qt5-default pyqt5-dev pyqt

[2021-05-30 09:39] DN-debug commented on #180
Dont be sorry when u are learning things.

Your path is incorrect. You should not include the program, but the path to program. So, in this case only till /bin:

` export PATH="$HOME/.local/bin/:$PATH"` and then check whether it got added or not `echo $PATH`.

If the appimage has been installed properly, then you should be able to see the entry in  your "$HOME/.local/share/bauh/appimage/installed/

[2021-05-30 09:48] winuxwinfree commented on #180
Thank you very much DN-debug
I get this message every time I run the program. And I can't find any options in the menus related to the AppImage.
I tried the last command you told me but it doesn't fix it:
export PATH="$HOME/.local/bin:$PATH"

[2021-05-30 09:56] winuxwinfree commented on #180
The database files apps.db and releases.db are not in ~/.cache/bauh/appimage, in fact the folder appimage does not exist, there is only a folder called web.

[2021-05-30 10:06] DN-debug commented on #180
Do you have the dependencies installed that Bauh requires to make Appimages to work? I mentioned those dependencies in my previous reply.

[2021-05-30 18:21] winuxwinfree commented on #180
Thanks DN-debug, it's working.
I just modified the path and installed sqlite3 and fuse.

[2021-05-30 18:21] winuxwinfree commented on #180
Thanks DN-debug, it's working!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
I just modified the path and installed sqlite3 and fuse.

[2021-05-30 18:22] winuxwinfree commented on #180
Thanks DN-debug, it's working!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
I just modified the path and installed sqlite3 and fuse.

[2021-05-30 18:25] #180 closed

[2021-05-31 13:09] vinifmor commented on #179
Hello @DN-debug , check if **pacman** and **wget** are properly installed. Also, does this file (`/etc/arch-release`) exist on your system ?

[2021-05-31 14:00] DN-debug commented on #179
Umm, I'm on vanilla arch right now, so pacman is obviously present. "Wget" is present and m able to fetch files properly

![Screenshot from 2021-05-31 18-57-25](https://user-images.githubusercontent.com/75267055/120200532-1459ed80-c242-11eb-91b2-28b9cfee04d9.png)

![Screenshot from 2021-05-31 19-16-04](https://user-images.githubusercontent.com/75267055/120202832-b1b62100-c244-11eb-89a2-70b4f4f1f94

[2021-05-31 14:42] vinifmor commented on #179
That's it. Since the file does not exist o Peux OS, bauh will not enable Arch/AUR package management. This file is a standard for Arch-based distros. So, in your case, just create this empty file `/etc/arch-release` and it should work as expected. Also, AUR package management requires **git** installed (forgot to mention on the previous post).

[2021-05-31 15:09] DN-debug commented on #179
I think you misunderstood what I said, I am on vanilla arch not on Peux atm. and arch-release is present. It is working on one of the Peux flavors without arch-release is what I mentioned above. :-)

So this is the situation:
1. Peux KDE has bauh and recognized aur packages [doesnt have arch-release]
2. I recently released twm editions- bauh is the main software center in those editions and aur is

[2021-05-31 15:46] DN-debug commented on #179
ok m back, so here's what I did:

Case 1 : on Peux KDE machine

a. went back to check why it was working, well stupid me, i had linked arch-release to peux-release which is why it was working.

Case 2 : on Vanilla Arch- machine

a.  removed all of the release files
b. updated the system again and got the file back.
c. reboot
d. after login launched bauh and aur is working.

Case 2: on Peux TWM mac

[2021-05-31 15:46] #179 closed

[2021-07-19 08:59] DrSensor commented on #110
Just guessing, possibly something like [this](https://apt-team.pages.debian.net/python-apt/library/index.html).

[2021-08-01 14:26] CavaleriOmar opened #183 "A "system GUI" theme dark?"
As a good KDE user, I am a lover of Kvantum themes ... nothing to say, bauh supports them ... but halfway: as the title suggests, it would be possible to have among the themes available in bauh, an interface that uses the system theme , if dark?

If you are using the system theme and the colors are dark, the text in the pop-ups is almost always a "black on black"

[2021-08-01 14:35] CavaleriOmar opened #184 "Add the ability to install/update Plasma 5 plasmoids and themes along with the programs?"
As a KDE user, to keep plasmoids and themes updated or I also keep Discover on my computer (and I try to avoid it, because I hate unnecessary redundancies) or I periodically search for them myself... therefore, it would be possible to add the possibility to install/update plasmoids and themes, like Discover does?

PS: I know it should be exposed under "pull request", but as a good rookie I've alwa

[2021-08-07 20:24] vinifmor commented on #183
Try changing the property "System theme" to "True" through the settings window and select you Kvantum theme via the "Style" combo box. Let me know if it works.
![bauh_system_theme](https://user-images.githubusercontent.com/4312414/128613027-e4c17eb8-7939-4478-83ca-0034f181e57f.png)

[2021-08-07 20:29] vinifmor commented on #184
I will have look on how the Plasmoid management API works, and if it is easy to integrate with (I thought they were distributed as default packages)

[2021-08-08 07:07] CavaleriOmar commented on #183
It is already set to kvantum... the problem occurs precisely because Bauh does not adapt the color of the text when using kvantum (and kvantum-dark)

[2021-08-15 19:30] lfom commented on #176
It is working perfectly now. It even inherits correctly the system theme colors when the option is enable, regardless of the style selected. Thanks!
`bauh` 0.9.18 on Pop!_OS 21.04 (like Ubuntu 21.04)

Thanks!

![Screenshot from 2021-08-15 16-26-41](https://user-images.githubusercontent.com/15659999/129490154-369ee161-2d9d-4226-887f-da0dbd66e567.png)

[2021-08-15 19:30] #176 closed

[2021-08-15 19:41] lfom opened #185 "AppImage File Chooser Dialog ignores "appname.appImage""
**Before opening a new issue**
Install the **staging** branch and check if the unexpected behavior is happening there as well.
If you are on ArchLinux-based distro, you can install it through AUR (**bauh-staging**). Otherwise, you have
to clone the repository and install it with pip.

_Done, the problem persists_

**Describe the bug**

_File picker for AppImage ignores other cases for file extensi

[2021-08-15 20:04] lfom opened #186 "Install AppImage File Generates a Blank .desktop File"
**Before opening a new issue**
Install the **staging** branch and check if the unexpected behavior is happening there as well.
If you are on ArchLinux-based distro, you can install it through AUR (**bauh-staging**). Otherwise, you have
to clone the repository and install it with pip.

_Done, the problem persists_

**Describe the bug**

1. Download latest version of Avidemux from https://www.fosshu

[2021-08-21 13:59] vinifmor commented on #186
@lfom thanks for reporting this. I will have a look.

[2021-08-21 14:10] vinifmor commented on #185
@lfom it works for KDE (at leat) independently of the case like the picture below shows:
![bauh_appimage](https://user-images.githubusercontent.com/4312414/130324356-9fccc5e8-c837-4d2f-9c66-02d9da606dd7.png)

But I will have a look if there is a property that could force the case to be ignored.

[2021-08-21 14:14] vinifmor commented on #186
Actually it is not a bug. Bauh just copies the desktop file provided by the AppImage (this application provides an empty one). Bauh coud generate a fresh one for this sort of scenarios. I'm going to add this as an enhancement task.

[2021-08-21 14:56] vinifmor commented on #186
I've published the fix/enhancement to the **staging** branch. Try reinstalling the file and check if the desktop entry is properly generated.

[2021-08-21 15:19] lfom commented on #153
Flatpak command can easily handle .flatpakref files and even remote links directly:
https://docs.flatpak.org/en/latest/using-flatpak.html#install-applications

While at this, it would be great if Bauh could also manage Flatpak repositories, or at least had a function to add extra ones with an option to make them system or user wide.

[2021-08-21 15:27] lfom commented on #185
@vinifmor Hmm... For some reason, it seems that on Gnome (at least on Pop!_OS) it uses a GTK-based file dialog, and filters are case sensitive.

![Screenshot from 2021-08-21 12-25-04](https://user-images.githubusercontent.com/15659999/130326788-b31094b5-d835-4948-9c2b-eb818e02a1fe.png)

[2021-08-21 20:04] lfom commented on #186
@vinifmor .desktop file is not empty anymore, and it launches the app correctly. I only missed the "Comment=" line.

[2021-08-23 12:14] vinifmor commented on #186
@lfom the missing "Comment" field is expected, since the current installation form does not have it. It would fit as a separate feature.

[2021-08-23 12:19] lfom commented on #186
@vinifmor Isn't it the Description when installing manually?

[2021-08-23 12:24] vinifmor commented on #186
You're right. I forgot that for .desktop files the "Comment" fields is equivalent to "Description". I'm going to add it. Thanks.

[2021-08-23 12:31] vinifmor commented on #186
Already on **staging**

[2021-08-23 13:06] vinifmor commented on #185
Added a generic filter (.*) for this cases. Already on **staging**.

[2021-08-23 19:18] #186 closed

[2021-08-23 19:18] #185 closed

[2021-08-24 06:43] varlesh opened #188 "custom SVG tray icons not rendered"
![Screenshot_20210824_104019](https://user-images.githubusercontent.com/8083855/130568811-37a160fc-ea99-40ad-83da-ff81718863db.png)

LOG:
[code]
VERSION:
`bauh 0.9.19`
`python 3.8.2`

OS INFO:
[code]

[icons.zip](https://github.com/vinifmor/bauh/files/7036977/icons.zip)

[2021-08-24 06:49] varlesh commented on #188
CONFIG:
[code]

[2021-08-24 06:50] varlesh commented on #188
PNG's rendered fine

[2021-08-24 12:38] vinifmor commented on #188
Hi @varlesh it seems like a missing library or Qt issue. I'm going to have a look.

[2021-08-24 12:50] vinifmor commented on #188
I could reproduce the issue with the default system libraries. But running **bauh-tray** from a Python virtual environment allows the icon to be displayed. So it's probably a missing library or Plasma configuration.
![tray-icon](https://user-images.githubusercontent.com/4312414/130619154-629e4fe4-4e56-4f31-b95f-1f212e7412bb.png)

[2021-08-26 11:52] K0-RR opened #189 "Pacstall support."
It's like AUR but for Ubuntu
https://github.com/pacstall/pacstall

[2021-08-26 11:58] K0-RR opened #190 "Package bauh as flatpak."

[2021-08-26 12:29] K0-RR opened #191 "Option to open package repo website."
![Screenshot from 2021-08-26 14-27-10](https://user-images.githubusercontent.com/43277609/130962563-c3e0da1b-30b4-4f24-9b15-1bc2ccb74817.png)
There should be a button to open the flathub website of this package.

Also, why can't I make the window any smaller in width?

[2021-08-26 13:12] K0-RR opened #192 "No menu entry."
I installed bauh via pip3 and I can only launch it from a terminal.

[2021-08-26 15:32] #190 closed, assigned to nobody

[2021-08-30 16:33] lfom opened #193 "Inconsistencies in the File Chooser related to AppImage"
**Before opening a new issue**
Follow up from #185

**Describe the bug**
Two minor glitches:

1. When adding an AppImage manually, the file dialog most often starts using (\*.\*) filter instead of (\*.AppImage) filter
2. The Upgrade AppImage file dialog only has the (\*.AppImage) filter

**Software Environment**
bauh version: _0.9.19_
O.S: _Pop!_OS 21.04 (like Ubuntu 21.04)_
Python version: _Pyhto

[2021-09-16 20:12] edmundlaugasson opened #195 "bug: always requesting password for root users"
**Describe the feature**
Would like to run via sudo. Have configured sudoers to allow specific user to run bauh. Goal is to avoid continuous password asking. There is dedicated sysadmin, who has such permission, for such users running via sudo is needed.

Currently using sudo, kdesu, running as root - still will ask password...

**Software Environment**
bauh version: 0.9.19-1
O.S: name and version

[2021-09-16 21:57] edmundlaugasson opened #196 "feature: able to install AUR packages when running as root"
**Describe the bug**
bauh tries run yay as root and fails  when installing app from AUR.
![Screenshot_20210917_005348](https://user-images.githubusercontent.com/6355082/133690755-8575b801-a982-49ca-93e8-2c5fe27ba78e.png)
Tried `bauh --reset` but didn't help.

**Software Environment**
bauh version: 0.9.19-1
O.S: Endeavour OS (rolling release), KDE
Python version: 3.9.7
Installation method: pacman

[2021-09-17 12:48] vinifmor commented on #195
Hi @edmundlaugasson , is **Single password request enabled** on your bauh configuration ?

![bauh_single_password](https://user-images.githubusercontent.com/4312414/133784847-066b7666-373c-4eb3-af50-8345e0e23db3.png)

[2021-09-17 12:51] vinifmor commented on #196
Hello @edmundlaugasson , bauh does not use **yay** as the AUR backend (it has its own implementation). **makepkg** does not allow to build/compile packages as root by default (this warning is to prevent the error). I'm going to have a look if it is possible someway.

[2021-09-17 14:14] edmundlaugasson commented on #195
Yes, it's turned on and is so by default.

[2021-09-17 14:24] edmundlaugasson opened #197 "endless loop, when trying to install software"
*.*Describe the bug**
When clicking on Install button, bauh remains endlessly checking any conflicts:
![Screenshot_20210917_171724](https://user-images.githubusercontent.com/6355082/133798142-f777b78e-b449-488f-a271-fd29cdcbc48c.png)
Did also:
[code]
... didn't help - same issue repeats...

At the same time at command-line using either pacman or yay, no problem - installs very quickly without issu

[2021-09-17 20:46] vinifmor commented on #195
Alright. It seems there is a bug related to single authentication request for root users. I'm going to have a look.

[2021-09-17 20:47] vinifmor commented on #197
@edmundlaugasson , launch bauh through the command line using the `--log` parameter and paste the output here, please.
e.g: `bauh --log`

[2021-09-20 08:45] AWHubGit opened #198 "TypeError: setMinimumWidth(self, int) argument 1 has unexpected type 'float'"
I am trying to install "bauh" in Fedora 35 prerelease running as VM in virtenv "Boxes" in a ArchLinux.
python3-pyqt5-sip-12.9.0-2.fc35.x86_64 has been manually installed by "sudo dnf install python3-pyqt5-sip".

Using "pip install bauh" leads to a "TypeError: setMinimumWidth(self, int) argument 1 has unexpected type 'float'" when trying to start bauh on cli.
pip uninstall bauh
Building/installing

[2021-09-20 12:09] edmundlaugasson commented on #197
It was miracle, but today it worked. I started:
`bauh --log 1>bauh.log 2>bauh-error.log`
The file bauh.log remained empty, but bauh-error.log was full of text:
[bauh-error.log](https://github.com/vinifmor/bauh/files/7195495/bauh-error.log)
I did software updates like I usually do. As you see, 3 days ago issue existed. Don't know, how sustainable bauh is, I'm more using command-line (CLI) now. Also

[2021-09-20 15:09] AWHubGit opened #199 "bauh review in Germany"
Do you know this:

[bauh review](https://www.heise.de/ratgeber/Linux-Softwarepakete-verwalten-mit-Bauh-6185724.html)

[2021-09-22 09:39] ranplayer commented on #199
No, I didn't. Thanks for sharing @AWHubGit . Good to know that bauh has been useful for people.

[2021-09-22 09:41] vinifmor commented on #199
No, I didn't. Thanks for sharing this @AWHubGit . Good to know that bauh has been useful for people.

[2021-09-22 09:44] vinifmor commented on #198
I'm going to try installing on Fedora and let you know. It should be a missing package.

[2021-10-02 18:44] JPetsis opened #200 "Bauh does not install updates"
**Describe the bug**
I noticed today that it is been a long since bauh showed me that there are updates to install so I checked manually and there were indeed updates for the installed apps but bauh could not show anything. I restarted bauh and noticed that when it starts bauh shows the installed version of the apps and after some seconds the last version of the apps ( the version that supposedly

[2021-10-03 16:11] vinifmor commented on #200
Do you manage Flatpaks and/or Snaps with bauh ?

[2021-10-08 10:27] satourne opened #201 "Not listing installed packages for Flatpak 1.2.5"
**After opening a new issue**
First of all : Thanks.
I open that issue as an information for your curiosity.
I know that the officials platforms are
-     Ubuntu-based distros (20.04)
-     Arch-based distros

**Describe the bug**
$ flatpak --version
Flatpak 1.2.5
$ bauh --version
bauh 0.9.19

I have flatpak and when I launch bauh, I can see softwares those are available.
![screenshot-bauh](https:

[2021-10-10 14:11] LinuxOpa opened #202 "bauh shows no snaps under "Applications" - see screenshots"
**Before opening a new issue**
Install the **staging** branch and check if the unexpected behavior is happening there as well.
If you are on ArchLinux-based distro, you can install it through AUR (**bauh-staging**). Otherwise, you have
to clone the repository and install it with pip:
[code]
done

![snap-no](https://user-images.githubusercontent.com/41851582/136699172-7a4545f3-cd9e-4a39-917d-9d941c

[2021-10-10 14:27] LinuxOpa commented on #202
close it.
in default-grub i activated "debug edd=on ht=on" for a check, after deactivating this all is fine.

![ok](https://user-images.githubusercontent.com/41851582/136699932-30f8d416-8855-44d5-b7a9-35d82dcd6b6d.jpg)

[2021-10-30 10:13] kreezxil opened #203 "[Feature Request] Intercept Questions and Display a Modal to get Input"
**Before opening a new issue**
Install the **staging** branch and check if the unexpected behavior is happening there as well.
If you are on ArchLinux-based distro, you can install it through AUR (**bauh-staging**). Otherwise, you have
to clone the repository and install it with pip:
[code]

**Describe the bug**
When installing lots of applications, sometimes applications are in conflict. Because

[2021-11-03 17:22] vinifmor commented on #203
Hello @kreezxil , bauh should have displayed a conflict dialog. It seems there is a bug.

[2021-11-03 18:43] vinifmor commented on #193
Available on the **staging** branch and AUR (**bauh-staging**)

[2021-11-03 20:05] kreezxil commented on #203
leave it to me to find another bug. still better than pacman. :)

On Wed, Nov 3, 2021 at 12:23 PM Vinícius Moreira ***@***.***>
wrote:

[2021-11-04 13:21] vinifmor commented on #199
@tuxfanmatze , all the AppImage database is  automatically generated by a server-side script that consumes data from AppImageHub. If this application is not available, it may be related to missing data related to the download links.

[2021-11-04 20:05] vinifmor commented on #188
Closing due to inactivity

[2021-11-04 20:05] #188 closed

[2021-11-04 21:22] vinifmor commented on #200
Closing due to inactivity

[2021-11-04 21:22] #200 closed

[2021-11-05 14:17] vinifmor commented on #203
@kreezxil , I've tried to reproduce here with these two packages, but bauh hava displayed the conflict dialog as expected.

![conflict](https://user-images.githubusercontent.com/4312414/140524496-93865b43-55a1-4040-bc2c-f97b9f1406a7.png)

It doesn't mean the issue doesn't exist. It may be related to a scenario I haven't tested.  Could tell me more about the operations you were doing when the issue

[2021-11-05 16:49] vinifmor commented on #201
Fixed on the **staging** branch: https://github.com/vinifmor/bauh/commit/a6c065efb658fcc78716c31f410a101b37258c6b

[2021-11-05 17:18] #197 closed

[2021-11-05 21:39] #201 closed

[2021-11-05 21:39] #195 closed

[2021-11-05 21:39] #193 closed

[2021-11-06 08:27] LinuxOpa opened #205 "https://github.com/vinifmor/bauh/tree/readme/bauh/desktop : 404, does not exist"
https://github.com/vinifmor/bauh/tree/readme/bauh/desktop : 404, does not exist

[2021-11-07 11:36] kreezxil commented on #203
shite, i forgot what I was tryna install.

On Fri, Nov 5, 2021 at 9:17 AM Vinícius Moreira ***@***.***>
wrote:

[2021-11-07 12:33] vinifmor commented on #203
No worries. If it happens again, just comment here.

[2021-11-07 12:38] vinifmor commented on #205
Thanks for reporting the outdated link. Fixed https://github.com/vinifmor/bauh/commit/6f65556c05ae272c1dbbd557c7f80a606658eb56

[2021-11-07 12:38] #205 closed

[2021-11-08 16:27] tuxfanmatze commented on #199
@vinifmor,  I would appreciate if you can check why the automated Nextcloud client appimage retrieval from flatkap repo is not working. Appimage is the official current Nextcloud client for Linux.
Especially in the open source/Linux world Nextcloud is now a growing important cloud and a good replacement for the big player clouds: Google Drive, Microsft Onedrive, Dropbox etc.

[2021-11-15 10:40] manuGe commented on #198
Are there any updates? I'm running Fedora 35 and can't run bauh anymore.
Installing bauh with `pip install bauh` works flawlessly but when I try to start the application from the terminal, I'm getting the following error message:
[code]

[2021-11-17 16:05] Flash1232 opened #207 "bauh crashes with empty appimage url"
**Before opening a new issue**
Install the **staging** branch and check if the unexpected behavior is happening there as well.
If you are on ArchLinux-based distro, you can install it through AUR (**bauh-staging**). Otherwise, you have
to clone the repository and install it with pip:
[code]

**Describe the bug**
App crashes when AppImage url is suddenly empty (no idea how that could happen).

[cod

[2021-11-17 18:11] vinifmor commented on #207
Hi @Flash1232 , that's a bug for sure. What application were you trying to install ?

[2021-11-17 18:17] vinifmor commented on #198
That's weird. It seems the QT libraries for Fedora are no casting float to integers. Anyway, I've pushed a hard casting for the QT component sizes to avoid this sort of issue https://github.com/vinifmor/bauh/commit/b50b067158e18e50726b01bee598d7ffd50add25 on the **staging** branch. Could you give me a feedback if it is not crashing anymore ?

[2021-11-17 18:17] Flash1232 commented on #207
It is a Joplin AppImage (v2.4.12 installed, should be upgraded to v2.5.12)

[2021-11-17 19:12] vinifmor commented on #207
@Flash1232 it is a bug associated with the backend script responsible for mapping the AppImage database (it is not checking if the release URL is none). The fix has been applied and in a few hours the AppImage database should be updated.

I've also provided added some handling on the client side (bauh) to avoid this sort of issues:
https://github.com/vinifmor/bauh/commit/46a3b466523ad47815bf49d1eb

[2021-11-17 19:23] Flash1232 commented on #207
Thanks for the feedback and quick fix!
I will try that in a couple hours then and let you know.

[2021-11-17 23:07] Flash1232 commented on #207
The issue seems to have been solved, no further crashes occurred and I was then able to install the new Joplin AppImage.
There seems to be some (I think) unrelated issue now that results in [this](https://imgur.com/SQUWvQV.png). I will try to find the offending package as no useful logs are generated for it. Is there any way to de-select all packages for upgrade? I often end up going with 50 click

[2021-11-18 09:42] vinifmor commented on #207
It seems the first issue you have pointed allowed the second to happen. In other words: bauh failed to download the image, and it seems the previous installed file was erased (then the second issue happened). I'm going to debug this scenario.

About your question related to selecting packages to upgrade: there is no button to "select/unselect all", but bauh just upgrades what's been currently disp

[2021-11-18 13:40] LinuxOpa opened #208 "More of a request than a mistake - just don't know where to ask the question."
![1](https://user-images.githubusercontent.com/41851582/142425933-85594965-99b9-4e3b-a79b-69560bef0d9b.png)

[2021-11-18 14:48] manuGe commented on #198
Works perfectly now. Thanks for the quick fix!

[2021-11-19 21:36] vinifmor commented on #207
@Flash1232 , last bug discussed is fixed on the **staging** branch: https://github.com/vinifmor/bauh/commit/65df7654f959295f2e69ae3f28c58e9cfc95a5dd (already available in AUR)

I suggest disabling multi-threaded download for now since it is failing to download some AppImages from GitHub.

[2021-11-20 14:39] #198 closed

[2021-11-20 14:39] #207 closed

[2021-11-20 14:45] vinifmor commented on #208
This change would break the current design for the search mode. In the future this suggestion could be considered for a redesign on the interface.

![bauh-install-uninstall](https://user-images.githubusercontent.com/4312414/142730550-b2b24b28-b6bf-4a39-aed8-5331f714eabc.png)

[2021-11-20 15:03] vinifmor commented on #199
@tuxfanmatze , I have manually added the missing links and files to backend script. It will be available on the database tomorrow.

I'm going to create a specific issue template for suggesting AppImage applications not listed on the database.

![bauh-nextcloud](https://user-images.githubusercontent.com/4312414/142731209-8bbb5c69-048c-41d0-b953-1bf0706e4877.png)

[2021-11-20 15:14] vinifmor commented on #199
I've just updated the issue templates to include one for AppImage suggestions: https://github.com/vinifmor/bauh/issues/new/choose

[2021-11-23 22:15] Flash1232 commented on #207
Sorry for the delayed answer, I appreciate your thorough explanations and quick response! :)

That's great to know!

I was unable to reproduce any bugs with the current staging branch so I think the issue is well resolved.

Thank you again!

[2021-11-24 23:29] lfom opened #210 "bauh Crashes When Trying to Update an AppImage"
**Before opening a new issue**
Done, same error as latest release (0.9.21)

**Describe the bug**
bauh "keeps processing forever" when updating an AppImage manually right after selecting the new version and clicking on _Proceed_. The app does not hang tho, it can be closed. It used to work before but I am not sure when it broke. =(
When using the stagging version, it crashes as shown below.

Log fr

[2021-11-25 09:38] vinifmor commented on #210
@lfom Another user had the same issue last week, and it ended up that the problem was on the database. Some apps had incomplete data. The problem was already solved (on the back-end side), but your local app installation probably has missing data.

Try this:
1. reinstall the app
2. downgrade it
3. update again

Anyway, I'm going to add an additional handling on client side based on this error stac

[2021-11-25 13:10] lfom commented on #210
@vinifmor You mean the installed app that is being updated has incomplete data? This is the version that was already installed, and updating it worked in the past:

![Screenshot from 2021-11-25 10-07-08](https://user-images.githubusercontent.com/15659999/143447477-d6dd0853-ce07-4649-bea2-7dca312179cc.png)

Anyway, probably it easier (and safer) to import the newer one and delete the older one?

[2021-11-25 13:17] vinifmor commented on #210
Hum... the scenario I've described was related to apps from the database. I'm going to try with imported apps.

[2021-11-25 17:14] vinifmor commented on #210
@lfom issue already fixed on the **staging** branch. It is a regression introduced in **0.9.21**.

[2021-11-25 20:59] lfom commented on #210
@vinifmor Confirmed working on staging (0.9.22).
Once again, thank you for the app and maintaining it!
Regards

[2021-11-25 20:59] #210 closed

[2021-11-25 21:15] vinifmor commented on #210
No worries. Thanks for reporting the problem.

[2021-11-27 10:19] LinuxOpa opened #211 "are the characters '?' in the update process intentional?"
**update**
done

**Describe the bug**
are the characters '?' in the update process intentional?
see screenshot

**Software Environment**
bauh version:
O.S: Ubuntu 20.04.3LTS LANG=de_DE.UTF-8
Python version: 3.8
Installation method: pip

![bauh](https://user-images.githubusercontent.com/41851582/143677125-f54bc64a-2df7-430a-aa31-bc55d0aa93a7.jpg)

[2021-11-27 13:23] vinifmor commented on #211
@LinuxOpa , bauh just prints the output of the back-end command. No treatment is applied.

[2021-11-27 15:06] LinuxOpa commented on #211
ok, closed

[2021-11-27 15:06] #211 closed

[2021-11-30 15:51] senntore opened #212 "[New AppImage] Logseq"
- Application name: Logseq
- Github page: https://github.com/logseq/logseq
- Official website (if available): https://logseq.com

[2021-11-30 18:02] vinifmor commented on #212
@senntore logseq has been added to the back-end script. It should be available in a few hours. Let me know if it is ok.

![bauh-logsec](https://user-images.githubusercontent.com/4312414/144102325-f7bb3d07-650e-44fc-842d-c2c8648b8193.png)

[2021-11-30 19:24] #212 closed

[2021-12-01 03:59] senntore commented on #212
It works, thanks!

[2021-12-07 18:14] Fra1962 opened #214 "update of an already updated software"
Hi,
I am using bauh with an other package manager ( pamac on manjaro ) ; if i update some AUR software with pamac before updating it with bauh, bauh does not detect that the package is already up to date (the version number is the same), and if i select "ignore updates" it  ignores all future software updates. Can you solve the problem?

[2021-12-07 18:14] #214 closed

[2021-12-07 18:50] vinifmor commented on #196
I've just pushed a solution for this feature on the **staging** branch (**bauh-staging** package on **AUR** )

[2021-12-07 18:52] vinifmor commented on #214
Hello @Fra1962 , bauh uses it's own database when dealing with AUR packages. So if you update the package with a different tool, bauh's database gets out of sync. Updating the package again with bauh would solve your issue.

[2021-12-07 20:30] Fra1962 commented on #214
Sure, mine was just a tip to improve the software.Il 7 Dic 2021 19:52, Vinícius Moreira ***@***.***> ha scritto:
Hello @Fra1962 , bauh uses it's own database when dealing with AUR packages. So if you update the package with a different tool, bauh's database gets out of sync. Updating the package again with bauh would solve your issue.

—You are receiving this because you were mentioned.Reply to th

[2021-12-10 19:35] #196 closed

[2021-12-13 11:52] LeBron7077 opened #216 "bauh-staging 0.9.23.RC-4 on archlinux disappear after refresh apps !!!"
libpng warning: iCCP: known incorrect sRGB profile
Traceback (most recent call last):
  File "/usr/lib/python3.10/site-packages/bauh/view/qt/window.py", line 702, in _finish_refresh_packages
    if self.update_pkgs(res['installed'], as_installed=as_installed, types=res['types']):
  File "/usr/lib/python3.10/site-packages/bauh/view/qt/window.py", line 964, in update_pkgs
    self._update_table(pkgs

[2021-12-13 11:58] vinifmor commented on #216
@LeBron7077 , it seems to be something related to your QT libraries bases on the lines below:
[code]

I'm going to have a look here if it is possible to force an "int" cast. Thanks for reporting.

[2021-12-13 12:06] LeBron7077 commented on #216
Hello DEV,
How can I fix that on arch, Just so you know, I'm not an expert
Thanks for the quick reply,

[2021-12-13 12:15] vinifmor commented on #216
@LeBron7077 I've just pushed a possible fix on the **staging** branch. Could you try reinstalling it from AUR and give me a feedback if the issue has been fixed ?

[2021-12-13 12:55] LeBron7077 commented on #216
It,s work, after reinstalling bauh-staging-0.9.24.RC-1 everything fine,😊
Thank you so so much, for your quick response.. You are a great & genius DEV,🔥🙏

[2021-12-13 13:09] LeBron7077 commented on #216
actually, I love it dude,🤎
again,Thanks for your effort .

[2021-12-13 13:16] #216 closed

[2021-12-13 14:26] LeBron7077 opened #217 "another bug bauh-staging 0.9.24.RC-1 on archlinux disappear after click settings !!!"
libpng warning: iCCP: known incorrect sRGB profile
Traceback (most recent call last):
  File "/usr/lib/python3.10/site-packages/bauh/view/qt/window.py", line 1479, in show_settings
    self.settings_window = SettingsWindow(self.manager, self.i18n, self.screen_size, self)
  File "/usr/lib/python3.10/site-packages/bauh/view/qt/settings.py", line 50, in __init__
    self.tab_group = to_widget(self.se

[2021-12-13 14:55] vinifmor commented on #217
Same issue on a different file. I'm going to publish a fix ASAP.

[2021-12-13 15:19] LeBron7077 commented on #217
🙈🙈
yes, yes it works well on bauh-staging-0.9.24.RC-2,
you are the fastest developer I know so far, thanks for that, and another thanks for the speed of response, and for this great apps😊🤎

[2021-12-13 15:21] vinifmor commented on #217
Great. Let me know if any issue pops up again.

[2021-12-13 15:24] LeBron7077 commented on #217
- [ ] Roger that,🙈🙈

[2021-12-13 15:24] #217 closed

[2021-12-13 20:05] kpspu opened #218 "Is there a compatibility with a Python 3.10?"
Hi there!
I am a newbie for a Linux, so do not judge me severely if I posted a wrong issue.
So the problem is that after installing new system update on EndeavourOS I couldn't open bauh anymore.
There are an article: https://forum.endeavouros.com/t/brief-psa-python-3-10-just-released/21219

Is there a possibility this might be an issue with bauh?
Or should I just follow the suggestions from the ar